{{#tn-form model=category onSubmit="submit" action="save"}}
<header class="form-header">
    <h1 class="header-title">
        <button class="go-back" {{action "goBack"}}>
            <i class="fa fa-chevron-left"></i>
        </button>
        {{t "category"}}
    </h1>
</header>
<section class="form-content">
    <fieldset class="fieldset">
        {{#tn-form-group property="transactionType"}}
            <div class="controls">
                {{multiselect-checkboxes
                    options=transactionTypes
                    labelProperty="name"
                    valueProperty="code"
                    valueBinding="category.transactionType"}}

                <!-- <label>
                    {{tn-input-checkbox
                        value=1
                        groupValue=category.transactionType}}
                    {{t "expense"}}
                </label>
                <label>
                    {{tn-input-checkbox
                        value=2
                        groupValue=category.transactionType}}
                    {{t "income"}}
                </label>
                <label>
                    {{tn-input-checkbox
                        value=3
                        groupValue=category.transactionType}}
                    {{t "transfer"}}
                </label> -->
                <p class="hint">
                    {{t "category_transaction_type_hint"}}
                </p>
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="name"}}
            <div class="control-label">
                {{t "name"}}
            </div>
            <div class="controls">
                {{input value=category.name}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="enabled"}}
            <div class="controls">
                <label>
                    {{input type="checkbox" checked=category.enabled }}
                    {{t "active"}}
                </label>
                <p class="hint">
                    {{t "category_active_hint"}}
                </p>
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="parentCategory"}}
            <div class="control-label">
                {{t "parent_category"}}
            </div>
            <div class="controls">
                {{view "select"
                    contentBinding="categories"
                    optionValuePath="content.id"
                    optionLabelPath="content.name"
                    selectionBinding="category.parentCategory"
                    prompt='- Select -'}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="note"}}
            <div class="control-label">
                {{t "note"}}
            </div>
            <div class="controls">
                {{textarea value=category.note}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="color"}}
            <div class="control-label">
                {{t "color"}}
            </div>
            <div class="controls">
                {{input value=category.color}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}
    </fieldset>
</section>
<footer class="form-actions">
    <button class="btn" {{action "goBack"}}>{{t "cancel"}}</button>
    <button type="submit" class="btn btn-primary">{{t "save"}}</button>
</footer>
{{/tn-form}}
