{{#form-for model=model onSubmit="submit" save="save"}}
<header class="form-header">
    <h1 class="header-title">{{t "category"}} / {{model.name}}</h1>
    <div class="action-bar">
        <button class="btn" {{action "goBack"}}>{{t "cancel"}}</button>
        <button type="submit" class="btn btn-primary">{{t "save"}}</button>
    </div>
</header>
<section class="form-content">
    <fieldset class="fieldset">
        <div class="control-group">
            <div class="control-label">
                {{t "name"}}
            </div>
            <div class="controls">
                {{input value=model.name class="span7"}}
            </div>
        </div>
    </fieldset>
</section>
{{/form-for}}
