.dropdown {}

.dropdown-toggle {
    cursor: pointer;
    display: block;
    padding: 0 8px;
}

.dropdown-menu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    display: none;
    float: left;
    font-size: 13px;
    line-height: 1.4;
    list-style: none;
    margin: 2px 0 0;
    min-width: 170px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-menu.right {
    right: 2px;
}

.dropdown-menu:before {
    border: 8px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    content: "";
    display: inline-block;
    position: absolute;
    top: -16px;
    left: 9px;
}

.dropdown-menu:after {
    position: absolute;
    display: inline-block;
    content: "";
    border: 7px solid transparent;
    border-bottom-color: #fff;
    top: -14px;
    left: 10px;
}

.dropdown-menu.right:before {
    left: auto;
    right: 9px;
}

.dropdown-menu.right:after {
    left: auto;
    right: 10px;
}

.dropdown .dropdown-menu .divider {
    background-color: #E6E6E6;
    display: block;
    font-size: 0;
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
}

.dropdown-menu > li {
    margin: 0;
    padding: 0;
}

.dropdown-menu > li > a {
    display: block;
    margin: 0;
    padding: 8px 12px;
}

.dropdown-menu > li > a:hover {
    background-color: #F9F9F9;
}
