.tag-form {}

.tag-form .tag-form-container {
    max-width: 100%;
    position: relative;
    width: 560px;
}

.tag-form-row {
    padding: 4px 0;
}

.tag-form-row:hover {
    background-color: #F5F5F5;
}

.tag-form input {}

.tag-form.invalid input {
    border-color: #F44336;
    box-shadow: 0 0 1px rgba(255, 0, 0, 0.3);
}

.tag-form .tag-field {
    border: 1px solid #ccc;
    border-radius: 2px;
    display: inline-block;
    margin-left: 2px;
    padding: 3px;
}

.tag-form .tag-field .active {
    font-weight: bold;
}

.tag-form .tag-actions {
    display: inline-block;
    position: absolute;
    right: 2px;
}

.tag-form .tag-actions a {
    color: #666;
}

.tag-children {
    border-left: 1px solid #EEE;
    padding-left: 20px;
}

.tag-children:hover {
    border-left-color: #AAA;
}
