.footer-spacer {
    height: 100px;
}
/* footer-nav */

.wlc .footer-nav {
    color: #666;
    list-style: none;
    margin: 0;
    padding: 0;
}

.wlc .footer-nav li {
    display: inline-block;
    line-height: 34px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.wlc .footer-nav li.sep {
    display: none;
}

.phone.wlc .footer-nav li.sep {
    display: block;
}

@media ( max-width: 768px) {
    .wlc .footer-nav li.sep {
        display: block;
    }
}

.wlc .footer-nav .copy {
    float: right;
    padding: .5em;
}

.wlc .footer-nav a {
    color: #009;
    display: inline-block;
    padding: .5em .8em;
}
/* select-lang */

.wlc .select-lang {
    display: inline-block;
    line-height: 32px;
    position: relative;
}

.wlc .select-lang .lang-title i {
    vertical-align: middle;
}

.select-lang:hover .langs {
    display: block;
}

.langs {
    background: #FFF;
    bottom: 34px;
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    display: none;
    left: 0;
    line-height: 1;
    padding: .5em 1em;
    position: absolute;
    left: -50%;
    text-align: left;
}

.phone.wlc .langs {
    left: 6px;
}

@media ( max-width: 768px) {
    .wlc .langs {
        left: 6px;
    }
}

.lang {
    display: block;
    margin: 3px 0;
    padding: .3em 0;
    white-space: nowrap;
}

.lang i {
    margin-right: 3px;
}
/* social */

.social {
    color: #444;
    padding: 10px 0;
    text-align: center;
}

.social section {
    margin-top: 3px;
}

.social a {
    margin-right: .5em;
}

@media ( max-width: 768px) {
    .footer-spacer {
        height: 170px;
    }
}
