.form-header {
	
}

.form-content {
	padding: 6px 0;
}

/* fieldset */
.fieldset {
	border: none;
	margin: 0;
	padding: 8px;
}

.fieldset .legend {
	border: none;
	border-bottom: 1px solid #AAAAAA;
	color: #000;
	display: block;
	font-size: .9em;
	margin: 0;
	padding: 0 0 0 1em;
	width: 100%;
}

.fieldset .legend-tab {
	border: 1px solid #AAAAAA;
	border-bottom-color: #FFF;
	border-radius: 6px 6px 0 0;
	display: inline-block;
	margin-bottom: -1px;
	padding: 5px 1em;
}

.fieldset-container {
	list-style: none;
	margin: 0;
	padding: 6px 0 0 0;
}

.control-group {
	border-bottom: 1px solid transparent;
	display: block;
	margin: 0 0 6px;
	max-width: 100%;
	min-height: 22px;
	overflow: hidden;
	padding: 0 0 6px;
}

.tablet .control-group, .phone .control-group {
	border-bottom-color: #F2F2F4;
	margin-bottom: 8px;
	padding-bottom: 8px;
}

.control-group-separator {
	display: block;
	border: none;
	border-bottom: 1px dotted #D9D9D9;
	height: 1px;
	margin: 4px 0;
}

.control-group .control-label {
	color: #555;
	display: block;
	float: left;
	font-size: 1em;
	margin: 0;
	max-width: 100%;
	min-height: inherit;
	overflow: hidden;
	padding: 2px;
	text-align: right;
	width: 230px;
}

.control-group .control-label:before {
	color: #999;
	content: ':';
	float: right;
	margin: 0 0 0 1px;
	overflow: hidden;
}

.control-group .controls {
	color: #000;
	display: block;
	margin: 0 0 0 235px;
	max-width: 100%;
	min-height: inherit;
	overflow: hidden;
	padding: 2px;
}

.control-group.control-group-vertical .control-label, .control-group.control-group-vertical .controls {
	display: block;
	float: none;
	margin: 0;
	text-align: left;
}

/* form control */
input, textarea, select {
	background: white;
	border: 1px solid #CCC;
	border-bottom: 1px solid rgba(0, 0, 0, 0.157);
	border-left: 1px solid rgba(0, 0, 0, 0.267);
	border-right: 1px solid rgba(0, 0, 0, 0.267);
	border-top: 1px solid rgba(0, 0, 0, 0.377);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.196), inset 0px 1px 1px rgba(0, 0, 0, 0.102);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #000;
	display: inline-block;
	font-size: 1em;
	line-height: 1;
	max-width: 100%;
	outline: 0;
	padding: .4em;
	vertical-align: middle;
}

input:focus, textarea:focus, select:focus {
	background-color: #FFFCCE;
	border-color: #888;
}

input:hover, textarea:hover, select:hover {
	border-color: #888;
}

input[readonly]:focus {
	background: white;
}

input[disabled] {
	background: #FAFAFA;
}

input[type=checkbox][disabled], input[type=radio][disabled] {
	background: #DDD;
}

input[required]:invalid, textarea[required]:invalid {
	border-bottom-color: #FF7676;
}

input[type=checkbox], input[type=radio] {
	border: 1px solid #CCC;
	box-shadow: none;
	margin: 0;
	max-width: 16px;
	padding: 1px;
	width: auto !important;
}

input[type=radio] {
	border: 1px solid transparent;
}

textarea {
	min-height: 5em;
	width: 100%;
}

.tablet input, .tablet textarea, .phone input, .phone textarea {
	padding: 6px;
	width: 100%;
}

.tablet input[type=checkbox], .tablet input[type=radio], .phone input[type=checkbox], .phone input[type=radio] {
	padding: 2px;
}

.tablet select, .phone select {
	padding: 6px;
}

.fieldset[disabled] input, .fieldset[disabled] select {
	background-color: #FAFAFA;
}

/* input-wrapper */
.input-wrapper {
	border: 1px solid transparent;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	margin: 1px;
	padding: 2px;
	vertical-align: middle;
}

.tablet .input-wrapper, .phone .input-wrapper {
	border: 1px solid #EEE;
	padding: 4px;
}

.input-wrapper:hover {
	border-color: #888;
}

.input-wrapper input {
	margin: 2px;
}

.input-wrapper .input-label {
	padding: 2px;
	vertical-align: middle;
}

.input-wrapper input:checked+.highlight.input-label {
	background-color: #FFF2AD;
	border-radius: 2px;
}

@media ( max-width : 960px ) {
	.control-group .control-label {
		width: 215px;
	}
	.control-group .controls {
		margin-left: 220px;
	}
}

@media ( max-width : 768px ) {
	.control-group {
		border-bottom-color: #F2F2F4;
		margin-bottom: 8px;
		padding-bottom: 8px;
		width: auto;
	}
	.control-group .control-label {
		text-align: left;
		width: 140px;
	}
	.control-group .controls {
		margin-left: 140px;
	}
	input, textarea {
		padding: 6px;
		width: 100%;
	}
	input[type=checkbox], input[type=radio] {
		padding: 2px;
	}
	select {
		padding: 6px;
	}
}

@media ( max-width : 540px ) {
	.control-group .control-label {
		width: 115px;
	}
	.control-group .controls {
		margin-left: 115px;
	}
}

/* ----------------------------- */
.form-control-tags {
	display: block;
}

.form-control-tags .form-control {
	border: none;
	margin: .2em;
}

.form-control-tags .form-control .input-label {
	border: 1px solid #D3D3D3;
	border-radius: 2px;
	cursor: pointer;
	font-weight: normal;
	padding: .3em;
}

.form-control-tags .form-control .input-label:hover {
	border-color: #888;
}

.form-control-tags .form-control input[type=checkbox] {
	display: none;
}

.form-control-tags .form-control>input:checked+.input-label {
	background-color: #EDEDED;
	border-color: #000;
}

.highlight-selected input:checked+.input-label {
	background-color: #FFF2AD;
}

.list-table {
	list-style: none;
	padding: 0;
	margin: 0;
	max-width: 100%;
}

.list-table li {
	margin: 0;
	padding: 0;
}

.list-table li+li {
	border-top: 1px solid #CCC;
	margin-top: .3em;
	padding-top: .3em;
}

.list-table li:last-child {
	border-bottom: none;
}

.control_visibility_target {
	display: none;
}

.control_visibility:checked+.control_visibility_target {
	display: block;
}