body.wlc {
    background-color: #FFF;
}

@media ( max-width: 768px) {
    body.wlc {
        font-size: 14px;
    }
}

body.wlc .to_top {
    display: none;
}

.wlc .layout {
    background: none;
    box-shadow: none;
    margin: 0px auto;
    max-width: 100%;
    min-height: 100%;
    min-width: 320px;
    position: relative;
    width: 100%;
    z-index: 3;
}

.wlc .layout_header {
    background: none;
    border-bottom: 1px solid #F6F5F3;
    box-shadow: none;
    height: 70px;
    position: relative;
}

.wlc .layout_content {
    margin: 0;
    padding: 0 !important;
}

.wlc .layout_footer {
    background: #F6F5F3;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.wlc .container {
    margin: 0px auto;
    max-width: 980px;
}

.tablet.wlc .container,
.phone.wlc .container {
    max-width: 100%;
}

.wlc .main-load {
    background: transparent url(../img/loader.gif) center center no-repeat;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
