.layout {
    background: #FFF;
    margin: 0px auto;
    max-width: 1366px;
    min-height: 100%;
    min-width: 320px;
    position: relative;
    width: 100%;
    z-index: 3;
}

.tablet .layout,
.phone .layout,
.layout_fullscreen .layout {
    max-width: 100%;
}

.layout > section.flex {
	display: -webkit-flex;
    display: flex;
}
/* layout_header */

.layout_header {
    border: none;
    box-shadow: 0 0 3px #999;
    display: block;
    height: 60px;
    line-height: 60px;
    max-width: inherit;
    position: relative;
    width: 100%;
    z-index: 5;
}

.tablet .layout_header,
.phone .layout_header {
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
}
/* layout_aside */

.layout_aside {
    background-color: #FFF;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 60px;
    transition: all .15s;
    z-index: 4;
}

.tablet .layout_aside,
.phone .layout_aside {
    background: #FFF url(../img/yellow_background.png) 0 0 no-repeat;
    border: none;
    top: 0;
    z-index: 99;
}
/* layout_content */

.layout_content {
    border: none;
    height: auto;
    margin: 0 0 10px 230px;
    padding: 0;
    position: relative;
}

.tablet .layout_content,
.phone .layout_content {
    margin: 0 0 10px 0px;
    padding-top: 50px;
}
/* content-overlay */

.content-overlay {
    background: rgba(0, 0, 0, .3);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;
}
/* main-load */

.main-load {
    background: #FFF url(../img/loader.gif) center center no-repeat;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.page-loading {}
