/* nav-app */
.nav-app {
	border-right: 1px solid #E6E6E6;
	width: 230px;
}

.tablet .nav-app, .phone .nav-app {
	left: -230px;
}

.nav-app .fa {
	color: #646464;
}

body.nav-app-open {
	overflow: hidden;
}

.nav-app-open .content-overlay {
	display: block;
}

.tablet.nav-app-open .nav-app, .phone.nav-app-open .nav-app {
	-moz-transform: translate(230px, 0);
	-webkit-transform: translate(230px, 0);
	transform: translate(230px, 0);
}

/* side */
.side {
	display: block;
	position: relative;
}

.side-container {
	color: #000;
	padding: 0 .4em;
}

.side-nav {
	margin-top: .8em;
	padding: .2em;
	word-wrap: normal;
}

.side-header {
	cursor: pointer;
	font-weight: bold;
	margin-bottom: .3em;
}

.side-tree-collapse .side-header:before {
	content: '...';
	color: #666;
	display: inline-block;
	font-size: 1em;
	line-height: 1em;
	position: absolute;
	right: 3px;
}

.side-tree {
	display: block;
	list-style: none;
	margin: 1px 0;
	margin-left: 1.1em;
	padding: 0;
}

.side-tree-collapse .side-tree {
	display: none;
}

.side-tree-item {
	margin: 1px 0 0 0;
	padding: 0;
}

.side-tree-item .side-tree-item-active,
.side-tree-item > a.active {
	background-color: #F5F5F5;
	font-weight: bold;
}

.side-tree-item a {
	border: 1px solid transparent;
	border-radius: 2px;
	color: #222;
	display: block;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	padding: 0.5em;
	text-decoration: none;
}

.tablet .side-tree-item a, .phone .side-tree-item a {
	padding: 8px;
}

.side-tree-item a i {
	margin-right: .5em;
}

.side-tree-item a:active {
	background-color: #F5F5F5 !important;
}

.side-tree-item a:hover {
	background-color: #F5F5F5;
}