<div class="view tags-view">
    <header class="content-header">
        <h1 class="header-title">{{t 'tags'}}</h1>
        <nav class="content-actions">
            <button class="btn" {{action 'composeRecord'}}>
                <i class="fa fa-plus"></i>{{t 'add'}}
            </button>
        </nav>
    </header>
    <section class="content-body">
        <div class="entries">
            {{#each model as |tag|}}
                {{#unless tag.isNew}}
                    {{#unless tag.parent}}
                        {{tag.tags-view-row tag=tag tagName='' deleteRecord='deleteRecord'}}
                    {{/unless}}
                {{/unless}}
            {{/each}}
        </div>
    </section>
</div>
