<div class="layout">
    {{partial 'header'}}
    <section class="main container">
        {{content-overlay}}
        {{partial 'sidenav'}}
        <section class="content">
            {{outlet}}
        </section>
    </section>
</div>
