<div class="dashboard">
    <header class="content-header">
        <h1 class="header-title">{{t 'dashboard'}}</h1>
    </header>
    <section class="content-body">
        {{dash-board}}
    </section>
</div>
