<div class="view users-view">
    <header class="content-header">
        <h1 class="header-title">{{t 'users'}}</h1>
        <nav class="content-actions">
            {{#link-to 'users.invitation' class='btn btn-primary btn-lg'}}
                {{t 'invite_user'}}
            {{/link-to}}
        </nav>
    </header>
    <section class="content-body">
        <div class="entries">
            {{#each users as |user|}}
                {{#unless user.isNew}}
                <div class="entry-wrap">
                    <div class="entry-actions">
                        <button class="entry-action action-delete" {{action 'deleteUser' user}}>
                            <i class="fa fa-trash" />
                        </button>
                    </div>
                    {{#tn-swipe-entry class='entry'}}
                    <div class="entry-link">
                        <div class="entry-fields">
                            <span>
                                {{user.login}}
                            </span>
                        </div>
                    </div>
                    {{/tn-swipe-entry}}
                </div>
                {{/unless}}
            {{/each}}
        </div>
    </section>
</div>
