{{#tn-form model=tag onSubmit="submit" action="save"}}
<header class="form-header">
    <h1 class="header-title">{{t "tag"}}</h1>
</header>
<section class="form-content">
    <fieldset class="fieldset">
        {{#tn-form-group property="name"}}
            <div class="control-label">
                {{t "name"}}
            </div>
            <div class="controls">
                {{input value=tag.name}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}
    </fieldset>
</section>
<footer class="action-bar">
    <button class="btn" {{action "goBack"}}>{{t "cancel"}}</button>
    <button type="submit" class="btn btn-primary">{{t "save"}}</button>
</footer>
{{/tn-form}}
