<div class="container">
    <div class="header">
        Administrator
    </div>
    <aside>
        <div class="nav">
            <ul>
                {{#each model as |m|}}
                <li>
                    {{#link-to m.viewdata}} {{m.title}} {{/link-to}}
                </li>
                {{/each}}
            </ul>
        </div>
    </aside>
    <aside class="view">
        {{outlet}}
    </aside>
    <div class="footer">
       2Next
    </div>
</div>
