<div>
<h3>Logs</h3>
    <div class="action-bar">
        <a class="btn" href="#/logs/delete">Delete log</a>
    </div>
{{#each model as |log|}}
    <div>
        <label class="entry-select">
            <input type="checkbox" name="docid" value="{@docid}" />
        </label>
        {{#link-to 'log' log.id}} name: {{log.name}}, last modified{{log.lastModified}} , length {{log.length}} mB {{/link-to}}</div>
{{/each}}

</div>