{{#each-in types as |index type|}}
    <button type="button" data-type={{type.code}} class="btn" {{action 'toggle' type.code}}>
       
        <span>{{t type.name}}</span>
    </button>
{{/each-in}}
}