.view {
	background: #FFF;
	padding: 6px;
	position: relative;
}

.tablet .view, .phone .view {
	padding: 2px;
}

.view-header {
	margin: 0;
	max-width: 100%;
	padding: 2px;
	position: relative;
}

.view-table {
	padding: 0;
}

.document:hover {
	background: #F7F7F7;
}

.document a {
	color: #333;
	display: block;
	height: 100%;
	margin: 0;
	padding: .2em 0;
	text-decoration: none;
}

.document:hover a {
	color: #0000EE;
}

.view-empty {
	color: #666;
	font-size: 1.3em;
}

.view .unread {
	font-weight: bold;
}

.view .page-info {
	margin: 8px 0;
	padding: 4px 0;
}

.tablet .view .page-info {
	font-size: 22px;
	margin: 0;
	padding: 6px 0;
}

.phone .view .page-info {
	font-size: 18px;
	margin: 0;
	padding: 4px 0;
}

.view .page-info>h3 {
	border-bottom: 2px solid #E6E6E6;
	font-size: 22px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 .4em 0;
}

.phone .view .page-info>h3 {
	font-size: 18px;
}

.entry-count {
	margin-left: .3em;
}

.vt-arrow {
	background: url(/SharedResources/img/classic/arrow_blue.gif) no-repeat center 2px;
	display: inline-block;
	height: 16px;
	margin: 0 5px;
	width: 16px;
}

.negative-sum {
	color: #E02117 !important;
}

.response a {
	display: inline;
}

/* .entries */
.entries {
	display: block;
}

.entry-wrap {
	background: #FFF;
	border-bottom: 1px solid #F5F5F5;
	display: block;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
}

.tablet .entry-wrap, .phone .entry-wrap {
	height: 63px;
	line-height: 63px;
}

.entry-wrap.entry-action-open, .entry-wrap:hover {
	background: #F5F5F5;
}

.entry {
	display: block;
	height: inherit;
	position: relative;
	transition: transform .20s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 100%;
	z-index: 2;
}

.entry>a {
	display: block;
	height: 100%;
	padding: 0 4px;
}

.entry>a>span {
	display: inline-block;
	line-height: 1;
	padding: .2em;
}

.entry-actions {
	bottom: 0;
	display: none;
	height: inherit;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
	width: 60px;
	z-index: 3;
}

.entry-action-open .entry-actions, .entry-wrap:hover .entry-actions {
	display: block;
}

.tablet .entry-wrap:hover .entry, .phone .entry-wrap:hover .entry, .entry-action-open .entry {
	box-shadow: 0 0 6px #666;
	text-align: right;
	-moz-transform: translate(-70px, 0);
	-webkit-transform: translate(-70px, 0);
	transform: translate(-70px, 0);
}

.entry-action {
	display: inline-block;
	font-size: 14px;
	height: inherit;
	line-height: inherit;
	position: relative;
	text-align: center;
	width: 60px;
}

.action-delete {
	background: white;
	color: red;
}

.action-delete:hover {
	background: red;
	color: white;
}