<div class="form-wrapper">
    <form {{action 'save' on='submit' }}>
        <header class="content-header">
            <button class="btn-back" {{action 'close'}}>
                <i class="fa fa-chevron-left"></i>
            </button>
            <h1 class="header-title">
                {{t 'account'}}
            </h1>
        </header>
        <section class="content-body">
            <fieldset class="fieldset">
                <div class="form-group {{if errors.name 'has-error'}}">
                    <div class="control-label">
                        {{t 'name'}}
                    </div>
                    <div class="controls">
                        {{tn-input value=account.name key-up='validateName' maxlength='64' class='span5'}}
                        {{#each errors.name as |error|}}
                            <div class="error-message">{{error.message}}</div>
                        {{/each}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <label>
                            {{input type='checkbox' checked=account.enabled }}
                            {{t 'active'}}
                        </label>
                        <p class="hint">
                            {{t 'account_active_hint'}}
                        </p>
                    </div>
                </div>
                <div class="form-group {{if errors.openingBalance 'has-error'}}">
                    <div class="control-label">
                        {{t 'opening_balance'}}
                    </div>
                    <div class="controls">
                        {{tn-input type='number' value=account.openingBalance key-up='validateOpeningBalance' class='span2'}}
                        {{#each errors.openingBalance as |error|}}
                            <div class="error-message">{{error.message}}</div>
                        {{/each}}
                    </div>
                </div>
                <div class="form-group {{if errors.amountControl 'has-error'}}">
                    <div class="control-label">
                        {{t 'amount_control'}}
                    </div>
                    <div class="controls">
                        {{tn-input type='number' value=account.amountControl key-up='validateAmountControl' class='span2'}}
                        {{#each errors.amountControl as |error|}}
                            <div class="error-message">{{error.message}}</div>
                        {{/each}}
                        <p class="hint">
                            {{t 'amount_control_hint'}}
                        </p>
                    </div>
                </div>
                <div class="form-group {{if errors.currencyCode 'has-error'}}">
                    <div class="control-label">
                        {{t 'currency'}}
                    </div>
                    <div class="controls">
                        {{tn-input value=account.currencyCode maxlength='3' key-up='validateCurrencyCode' class='span1'}}
                        {{#each errors.currencyCode as |error|}}
                            <div class="error-message">{{error.message}}</div>
                        {{/each}}
                    </div>
                </div>
                <div class="form-group {{if errors.note 'has-error'}}">
                    <div class="control-label">
                        {{t 'note'}}
                    </div>
                    <div class="controls">
                        {{textarea value=account.note key-up='validateNote' maxlength='256' class='span5'}}
                        {{count-down-characters account.note 256}}
                        {{#each errors.note as |error|}}
                            <div class="error-message">{{error.message}}</div>
                        {{/each}}
                    </div>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="legend">{{t 'permissions'}}</legend>
                <div class="form-group">
                    <div class="control-label">
                        {{t 'writers'}}
                    </div>
                    <div class="controls">
                        {{select-2
                            content=users
                            value=account.owner
                            optionValuePath='id'
                            optionLabelPath='userName'
                            placeholder='owner'}}
                        <p class="hint">
                            {{t 'writers_hint'}}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label">
                        {{t 'readers'}}
                    </div>
                    <div class="controls">
                        {{select-2
                            content=users
                            value=account.observers
                            optionValuePath='id'
                            optionLabelPath='userName'
                            placeholder='observers'
                            multiple=true}}
                        <p class="hint">
                            {{t 'readers_hint'}}
                        </p>
                    </div>
                </div>
            </fieldset>
        </section>
        <footer class="content-actions">
            <button class="btn" {{action 'close'}}>{{t 'close'}}</button>
            <button type="submit" class="btn btn-primary">{{t 'save'}}</button>
        </footer>
    </form>
</div>
