<section class="budget_form">
    {{#if isEditMode}}
        <form {{action 'save' on='submit'}}>
            <section class="content-body">
                <fieldset class="fieldset">
                    <div class="form-group {{if errors.name 'has-error'}}">
                        <div class="control-label">
                            {{t 'name'}}
                        </div>
                        <div class="controls">
                            {{input value=budget.name maxlength='64' class='span5'}}
                            {{#each errors.name as |error|}}
                                <div class="error-message">{{error.message}}</div>
                            {{/each}}
                            <p class="hint">
                                {{t 'budget_name_hint'}}
                            </p>
                        </div>
                    </div>
                </fieldset>
            </section>
            <footer class="content-actions">
                <button class="btn" {{action 'cancel'}}>{{t 'cancel'}}</button>
                <button type="submit" class="btn btn-primary">{{t 'save'}}</button>
            </footer>
        </form>
    {{else}}
        <h1>
            {{budget.name}}
            <button class="btn" {{action 'edit'}}>
                <i class="fa fa-edit"></i>
            </button>
        </h1>
    {{/if}}
</section>
