<div class="form-wrapper">
    <form {{action 'sendInvite' on='submit' }}>
        <header class="form-header">
            <h1 class="header-title">
                <button class="btn-back" {{action 'cancel'}}>
                    <i class="fa fa-chevron-left"></i>
                </button>
                {{t 'invitation_title'}}
            </h1>
        </header>
        <section class="form-content">
            <fieldset class="fieldset">
                <div class="form-group {{if errors.email 'has-error'}}">
                    <div class="control-label">
                        {{t 'email'}}
                    </div>
                    <div class="controls">
                        {{input type='email' value=invitation.email focus-out='validateEmail'}}
                        {{#each errors.email as |error|}}
                            <div class="error-message">{{error.message}}</div>
                        {{/each}}
                        <p class="hint">
                            {{t 'invitation_email_hint'}}
                        </p>
                    </div>
                </div>
                <div class="form-group {{if errors.message 'has-error'}}">
                    <div class="control-label">
                        {{t 'message'}}
                    </div>
                    <div class="controls">
                        {{textarea value=invitation.message key-up='validateMessage' maxlength='256'}}
                        {{#if noteCharacterLeft}}
                            <div class="text-muted">left: {{noteCharacterLeft}}</div>
                        {{/if}}
                        {{#each errors.message as |error|}}
                            <div class="error-message">{{error.message}}</div>
                        {{/each}}
                    </div>
                </div>
            </fieldset>
        </section>
        <footer class="form-actions">
            <button class="btn" {{action 'cancel'}}>{{t 'cancel'}}</button>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-send-o"></i>{{t 'send_invite'}}
            </button>
        </footer>
    </form>
</div>
