<ul class="uploads {{unless uploadVisible 'hidden'}}">
    <li class="drop">
        <a {{action 'browse'}}>{{t 'upload_browse'}}</a>
        <span class="drop-label">{{t 'upload_drop_here'}}</span>
        <input type="file" name="file" />
    </li>
</ul>
<ul class="attachments">
    {{#each attachments as |attach|}}
        {{#unless attach.isNew}}
        <li>
            <p>
                <a href="rest/{{modelUrl}}/{{modelId}}/{{attach.fieldName}}/{{attach.realFileName}}">{{attach.realFileName}}</a>
                <i>{{attach.size}}</i>
            </p>
            <span class="remove">{{t 'remove'}}</span>
        </li>
        {{/unless}}
    {{/each}}
</ul>
