<ul class="uploads">
    {{#if uploadVisible}}
    <li class="drop">
        <a {{action 'browse'}}>{{t 'upload_browse'}}</a>
        <span class="drop-label">{{t 'upload_drop_here'}}</span>
        <input type="file" name="file" />
    </li>
    {{/if}}
</ul>
<ul class="attachments">
    {{#each attachments as |attach|}}
        {{#unless attach.isNew}}
        <li>
            <p>{{attach.realFileName}}
                <i>{{attach.size}}</i>
            </p>
            <span class="remove">{{t 'remove'}}</span>
        </li>
        {{/unless}}
    {{/each}}
</ul>
