<div class="user-profile">
    <form {{action 'save' on='submit' }}>
        <header class="content-header">
            <button class="btn-back" {{action 'cancel'}}>
                <i class="fa fa-chevron-left"></i>
            </button>
            <h1 class="header-title">
                {{t 'user_profile'}}
            </h1>
        </header>
        <section class="content-body">
            <fieldset class="fieldset">
                <div class="user_avatar">
                    <div class="avatar_thumb">
                    {{upload-form
                        uploadVisible=isEdit
                        maxSize=3
                        fieldName='avatar'
                        attachments=user.attachments
                        addAttach='updateAvatar'
                        removeAttach='removeAvatar'}}
                    </div>
                </div>
                <div class="user_fields">
                    {{#unless isEdit}}
                    <p>
                        <a href="#" {{action 'setEdit'}}>{{t 'change_profile'}}</a>
                    </p>
                    {{/unless}}
                    <div class="form-group {{if errors.name 'has-error'}}">
                        {{#if isEdit}}
                            <div class="text-muted">{{t 'user_name'}}</div>
                            {{input value=user.name focus-out='validateProfile'}}
                            {{#each errors.name as |error|}}
                                <div class="error-message">{{error.message}}</div>
                            {{/each}}
                        {{else}}
                            {{user.name}}
                        {{/if}}
                    </div>
                    <div class="form-group {{if errors.login 'has-error'}}">
                        {{#if isEdit}}
                            <div class="text-muted">{{t 'user_login'}}</div>
                            {{input value=user.login focus-out='validateProfile'}}
                            {{#each errors.login as |error|}}
                                <div class="error-message">{{error.message}}</div>
                            {{/each}}
                        {{else}}
                            {{user.login}}
                        {{/if}}
                    </div>
                    <div class="form-group {{if errors.email 'has-error'}}">
                        {{#if isEdit}}
                            <div class="text-muted">{{t 'email'}}</div>
                            {{input value=user.email focus-out='validateProfile'}}
                            {{#each errors.email as |error|}}
                                <div class="error-message">{{error.message}}</div>
                            {{/each}}
                        {{else}}
                            {{user.login}}
                        {{/if}}
                    </div>
                    <div class="form-group">
                        <ul class="user_roles">
                            {{#each user.roles as |role|}}
                                <li>{{role}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    {{#if isEdit}}
                        {{#unless changePassword}}
                        <p>
                            <a href="#" {{action 'setChangePassword'}}>
                                {{t 'password_change'}}
                            </a>
                        </p>
                        {{/unless}}
                    {{/if}}
                    <p class="{{unless needPassword 'hidden'}} {{if errors.pwd 'has-error'}}">
                        <div class="text-muted">{{t 'password'}}</div>
                        {{input value=user.pwd focus-out='validateProfile'}}
                        {{#each errors.pwd as |error|}}
                            <div class="error-message">{{error.message}}</div>
                        {{/each}}
                    </p>
                    <div class="password_group {{unless changePassword 'hidden'}}">
                        <div class="{{if errors.pwd_change 'has-error'}}">
                            <div class="text-muted">{{t 'new'}}</div>
                            {{input type='password' value=user.pwd_new autocomplete='off' focus-out='validateProfile'}}
                        </div>
                        <div class="{{if errors.pwd_change 'has-error'}}">
                            <div class="text-muted">{{t 'repeat'}}</div>
                            {{input type='password' value=user.pwd_repeat autocomplete='off' focus-out='validateProfile'}}
                        </div>
                        <p>
                            {{#each errors.pwd_change as |error|}}
                                <div class="error-message">{{error.message}}</div>
                            {{/each}}
                        </p>
                    </div>
                </div>
            </fieldset>
        </section>
        {{#if isEdit}}
        <footer class="content-actions">
            <button type="submit" class="btn btn-primary">{{t 'save'}}</button>
        </footer>
        {{/if}}
    </form>
</div>
