.button {
	background: #E5E7ED;
	border: 0px none currentColor;
	border-radius: 2px;
	box-sizing: border-box;
	color: #243140;
	cursor: pointer;
	display: inline-block;
	font-size: .9em;
	margin: 1px;
	padding: 9px 11px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.196);
	vertical-align: top;
	white-space: nowrap;
}

.button:hover {
	text-decoration: none;
}

.button-default:active {
	background: #CDD1DC !important;
	color: #1D2938;
}

.button-default:hover {
	background: #DCDFE7;
	color: #243140;
}

.button-primary {
	background: #3061A3;
	color: white;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.078);
}

.button-primary:active {
	background: #244A7C !important;
}

.button-primary:hover {
	background: #3974C3;
}

.button-danger {
	background: #EE4F3D;
	color: white;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.078);
}

.button-danger:active {
	background: #E42914 !important;
}

.button-danger:hover {
	background: #F17163;
}

.button>img {
	height: 16px;
	margin-right: .3em;
	vertical-align: middle;
}

@media ( max-width : 720px ) , handheld {
	.button {
		font-size: 1em;
	}
}