.header {
	background: #FFF;
	height: 70px;
}

.navbar {
	background: #FFF;
	margin: 0;
	padding: 0;
	position: relative;
	vertical-align: top;
	white-space: nowrap;
}

.navbar-header {
	display: inline-block;
	float: left;
}

.navbar-brand {
	color: #494949;
	display: inline-block;
	font-size: 1.6em;
	height: 69px;
	line-height: 70px;
	margin-left: 10px;
	padding: 0 1em;
	text-decoration: none;
	vertical-align: middle;
}

.navbar-nav {
	display: inline-block;
	float: left;
}

.navbar-right {
	float: right;
}

.nav, .nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav>li {
	display: inline-block;
	margin: 0 .3em;
	padding: 0 .3em;
}

.header .nav {
	height: 69px;
	line-height: 70px;
}

.dropdown {
	
}

.dropdown-toggle {
	display: block;
}

.dropdown-menu {
	background: #FFF;
	box-shadow: 0 3px 3px rgba(26, 30, 34, 0.600);
	display: none;
	line-height: 1;
	margin: 0 5px;
	max-width: 240px;
	min-width: 8em;
	padding: 0;
	position: absolute;
	top: 69px;
	right: 0;
	z-index: 999;
}

.dropdown:hover>.dropdown-menu, .dropdown:focus>.dropdown-menu {
	display: block;
}

.dropdown-menu .divider {
	display: block !important;
	border-top: 1px solid #CCC;
	margin: .3em 0 !important;
}

.header .dropdown-toggle {
	color: #494949;
	display: inline-block;
	height: 69px;
	line-height: 70px;
	padding: 0 1em;
	text-decoration: none;
}

.header .dropdown-menu li {
	color: #000;
	display: block;
	margin: 0;
	padding: 0;
}

.header .dropdown-menu li:hover {
	background: #F5F5F5;
}

.header .dropdown-menu li a {
	display: block;
	padding: 1em;
	text-decoration: none;
}

.header a.login span {
	background: #6EA131;
	border-radius: 3px;
	color: white;
	padding: 4px;
}

.header .logout {
	background: transparent;
	border: none;
	display: block;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.header .logout span {
	background: #f44336;
	border-radius: 3px;
	color: white;
	padding: 4px;
}

.user-menu .fa {
	font-size: 14px;
	margin: 0 3px;
}

@media ( max-width : 567px) {
	.user-menu .username span {
		display: none;
	}
}