.ws {
	padding: 10px 0;
}

.tn-apps {
	padding: 10px 0;
	position: relative;
	z-index: 1;
}

.tn-app {
	border: 1px solid #f2f2f2;
	box-shadow: 1px 1px 1px #CCC;
	display: inline-block;
	height: 160px;
	margin: 6px;
	position: relative;
	width: 180px;
	z-index: 2;
}

.tn-app:hover {
	border-color: #bbb;
}

.tn-app:active {
	box-shadow: 0px 0px 0px #CCC;
}

.tn-app.off {
	opacity: .5;
}

.tn-app .tn-app-link {
	display: block;
	height: 100%;
	text-align: center;
	text-decoration: none;
}

span.tn-app-logo {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	width: 100%;
	padding: 4px;
}

img.tn-app-logo {
	border: none;
	outline: 0;
	max-height: 100%;
	max-width: 100%;
}

.tn-app-type {
	color: #444;
	display: block;
	padding: 3px;
}

.tn-app-name, .tn-app-owner {
	display: block;
	max-height: 3em;
	min-height: 24px;
	overflow: hidden;
	padding: 3px;
	text-overflow: ellipsis;
	width: 100%;
}

.tn-app-owner {
	background-color: #F8F8FF;
	bottom: 0;
	color: #222;
	padding: 7px 3px;
	position: absolute;
}

.tn-app button {
	background: transparent;
	border: none;
	outline: 0;
}

.tn-app button:hover {
	color: #444;
}

.tn-app-edit, .tn-app-close-edit, .tn-app-description {
	background: #F8F8FF !important;
	border: 1px solid transparent;
	border-radius: 3px;
	bottom: 0;
	color: #999;
	display: none;
	height: 32px;
	right: 0;
	position: absolute;
	width: 32px;
}

.tn-app-description {
	background: #FFF !important;
	top: 0;
	right: 0;
}

.tn-app:hover .tn-app-edit, .tn-app:hover .tn-app-description {
	display: block;
}

.tn-app.edit .tn-app-edit {
	display: none;
}

.tn-app.edit .tn-app-close-edit {
	display: block;
}

.tn-app-settings {
	background: #F8F8FF;
	bottom: 0;
	box-shadow: 0 -1px 3px #CCC;
	display: block;
	height: 0px;
	overflow: hidden;
	position: absolute;
	transition: height .2s;
	width: 100%;
	z-index: 3;
	width: 100%;
}

.tn-app.edit .tn-app-settings {
	height: 75px;
}

button.tn-app-remove {
	border-bottom: 1px solid #EEE;
	display: block;
	padding: 8px;
	width: 100%;
}

button.tn-app-remove>.fa {
	margin-right: 3px;
}

@media ( max-width : 768px) {
	.tn-app {
		display: block;
		margin: 16px auto;
		width: 90%;
	}
	.tn-app-edit, .tn-app-close-edit, .tn-app-description {
		display: block;
	}
}

.tn-templates {
	padding: 10px 0 40px;
}

.tn-templates .page-header h1 {
	font-size: 1.5em;
}

.tn-tpl {
	border: 1px solid #f2f2f2;
	box-shadow: 1px 1px 1px #CCC;
	cursor: pointer;
	display: inline-block;
	height: 85px;
	margin: 6px;
	position: relative;
	width: 180px;
}

@media ( max-width : 768px) {
	.tn-templates .page-header {
		margin-top: 10px;
	}
	.tn-tpl {
		display: block;
		margin: 16px auto;
		width: 90%;
	}
}

.tn-tpl:hover {
	border-color: #bbb;
}

.tn-tpl:active {
	box-shadow: 0px 0px 0px #CCC;
}

span.tn-tpl-logo {
	display: inline-block;
	height: 54px;
	line-height: 50px;
	margin-right: 4px;
	width: 56px;
	padding: 4px;
}

img.tn-tpl-logo {
	border: none;
	outline: 0;
	max-height: 100%;
	max-width: 100%;
}

.tn-tpl-type {
	display: inline-block;
}

.tn-tpl-description {
	display: inline-block;
}

.tn-tpl-create {
	background-color: #F8F8FF;
	border: none;
	bottom: 0;
	color: #222;
	outline: 0;
	padding: 3px;
	position: absolute;
	left: 0;
	width: 100%;
}

.tn-tpl-create .fa {
	margin-right: 3px;
}
