<div class="view">
    <header class="content-header">
        <h1 class="header-title">{{t 'cost_centers'}}</h1>
        <nav class="content-actions on-desktop">
            <button class="btn" {{action 'composeRecord'}}>
                <i class="fa fa-plus"></i>{{t 'add'}}
            </button>
        </nav>
    </header>
    <section class="content-body">
        <header class="entries-head">
            <div class="head-wrap">
                <label class="entry-select">
                    <input type="checkbox" class="all" {{action 'selectAll'}} />
                </label>
                <div class="entry-captions">
                    <span>
                        {{t 'name'}}
                    </span>
                </div>
            </div>
        </header>
        <div class="entries">
            {{#each model as |costCenter|}}
                {{#unless costCenter.isNew}}
                <div class="entry-wrap">
                    <div class="entry-actions">
                        <button class="entry-action action-delete" {{action 'deleteRecord' costCenter}}>
                            <i class="fa fa-trash" />
                        </button>
                    </div>
                    {{#tn-swipe-entry class='entry document'}}
                        <label class="entry-select">
                            <input type="checkbox" value="{{costCenter.id}}" {{action 'selectOne'}} />
                        </label>
                        {{#link-to 'cost_centers.cost_center' costCenter class='entry-link'}}
                        <div class="entry-fields">
                            <span class="entry-field">
                                {{costCenter.name}}
                            </span>
                        </div>
                        {{/link-to}}
                    {{/tn-swipe-entry}}
                </div>
                {{/unless}}
            {{/each}}
        </div>
    </section>
</div>
