.material input,
.material textarea,
.material select {
    border: 1px solid transparent;
    border-bottom-color: #CCC;
    border-radius: 0;
}

.material input:hover,
.material textarea:hover,
.material select:hover {
    border-bottom-color: #888;
}

.material input:focus,
.material textarea:focus,
.material select:focus {
    border-bottom-color: #4D90FE;
    box-shadow: 0 0 0 white, 0px 1px 0px #4D90FE;
}

.material .selectize-control.single .selectize-input,
.material .selectize-dropdown.single {
    background: #FFF;
    border: none;
    border-bottom: 1px solid #CCC;
    border-bottom-color: #CCC;
    border-radius: 0;
}

.material .selectize-control.single .selectize-input {
    box-shadow: none;
}

.material .selectize-dropdown {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.material .form-group .control-label {
    color: #666;
}
