.header-title {
    border-bottom: 1px solid #E6E6E6;
    font-size: 22px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 15px;
}

.tablet .header-title,
.phone .header-title {
    font-size: 16px;
    padding: 10px;
}

.header-title .entry-count {
    margin: 0 .3em;
}
