.view_category {}

.vcategory-icon-type {
    width: 22px;
}

.vcategory-name {
    width: 260px;
}

.vcategory-types {
    width: 160px;
}

.vtransaction-type {
    display: inline-block;
    padding: 1px;
}

.vtransaction-type-E {}

.vtransaction-type-I {}

.vtransaction-type-T {}
