.view_op {}

.view_op .entry-action-open .entry {
    direction: ltr !important;
}

.op-icon-att {
    text-align: center;
    width: 26px;
}

.op-account {
    min-width: 7em;
    width: 13%;
}

.op-cat {
    min-width: 7em;
    width: 13%;
}

.op-date {
    color: #666;
    text-align: center;
    width: 8em;
}

.op-amount {
    color: #007617;
    text-align: right;
    width: 9em;
}

.op-head .op-amount {
    background-color: transparent !important;
    text-align: center;
}

.op-amount-minus {
    color: #E02117;
}

.op-costcenter {
    color: #666;
    width: 13%;
}

.op-type {
    color: #007617;
    text-align: center;
    width: 22px;
}

.view_op span.op-vt {
    min-width: 200px;
    padding-left: 10px;
    width: 50%;
}


/* phone */

.phone .op-head .entry-captions {
    display: none;
}

.phone .view_op .entry-select {
    min-height: 100px;
}

.phone .view_op .entry-link {
    bottom: 0;
    display: block;
    left: 44px;
    min-height: 100px;
    padding: 4px 2px;
    position: absolute;
    right: 0px;
    top: 0;
    width: auto;
}

.phone .op-icon-att {
    position: absolute;
    right: 0;
    top: 44px;
}

.phone .op-account {
    color: #666;
    display: block !important;
    min-width: auto;
    width: auto;
}

.phone .op-date {
    color: #666;
    position: absolute;
    right: 1px;
    text-align: right;
    top: 22px;
}

.phone .op-amount {
    background-color: #446CB3;
    border-radius: 2px;
    color: white;
    padding: 2px;
    position: absolute;
    right: 1px;
    top: 0;
    width: auto;
}

.phone .op-amount.op-amount-minus {
    color: #FFF;
    background-color: #E74C3D;
}

.phone .op-costcenter {
    display: block !important;
    max-width: 260px;
    width: auto;
}

.phone .view_op .vcategory-icon-type {
    float: left;
}

.phone .view_op span.op-vt {
    position: relative;
    width: 63%;
}
