{{#tn-form model=account onSubmit="submit" action="save"}}
<header class="form-header">
    <h1 class="header-title">{{t "account"}}</h1>
    <div class="action-bar">
        <button class="btn" {{action "goBack"}}>{{t "cancel"}}</button>
        <button type="submit" class="btn btn-primary">{{t "save"}}</button>
    </div>
</header>
<section class="form-content">
    <div class="fieldset">
        {{#tn-form-group property="name"}}
            <div class="control-label">
                {{t "name"}}
            </div>
            <div class="controls">
                {{input value=account.name}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="openingBalance"}}
            <div class="control-label">
                {{t "opening_balance"}}
            </div>
            <div class="controls">
                {{input value=account.openingBalance}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="amountControl"}}
            <div class="control-label">
                {{t "amount_control"}}
            </div>
            <div class="controls">
                {{input value=account.amountControl}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="currencyCode"}}
            <div class="control-label">
                {{t "currency_code"}}
            </div>
            <div class="controls">
                {{input value=account.currencyCode}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="note"}}
            <div class="control-label">
                {{t "note"}}
            </div>
            <div class="controls">
                {{input value=account.note}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="owner"}}
            <div class="control-label">
                {{t "owner"}}
            </div>
            <div class="controls">
                {{view "select"
                    contentBinding="users"
                    optionValuePath="content.id"
                    optionLabelPath="content.login"
                    value=account.owner
                    prompt='- Select -'}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="observers"}}
            <div class="control-label">
                {{t "observers"}}
            </div>
            <div class="controls">
                {{view "select"
                    contentBinding="users"
                    optionValuePath="content.id"
                    optionLabelPath="content.login"
                    value=account.observers
                    multiple=true
                    prompt='- Select -'}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}
    </div>
</section>
{{/tn-form}}
