<div>
<h1>Application {{appName}}</h1>
    <div class="action-bar">
        <button class="btn btn-primary" {{action 'save' this}}>Save & Close</button>
        <a class="btn" href="#/apps">Cancel</a>
    </div>
    <div class="control-group">
        <div class="control-label">
            Application name:
        </div>
        <div class="controls">
            {{input name="appName" value=appName required=true}}
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
         Owner:
        </div>
        <div class="controls">
         {{input name="owner" value=owner required=true }}
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            Database host:
        </div>
        <div class="controls">
            {{input name="dbHost" value=dbHost required=true }}
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
         Database login:
        </div>
        <div class="controls">
         {{input name="dbLogin" value=dbLogin required=true }}
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            Database name:
        </div>
        <div class="controls">
            {{input name="dbName" value=dbName required=true }}
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            Database password:
        </div>
        <div class="controls">
            {{input name="dbPwd" value=dbPwd required=true }}
        </div>
    </div>   
</div>