.dropdown {}

.dropdown-toggle {
    display: block;
}

.dropdown-menu {
    display: none;
}

.open>.dropdown-menu {
    display: block;
}

.dropdown-menu .divider {
    background-color: #CCC;
    display: block !important;
    height: 1px;
    margin: 9px 0 !important;
    overflow: hidden;
}
