.select2-container {
    max-width: 100%;
    width: 380px;
}

.select2-container .select2-choice:hover {
    border-color: #888;
}

.select2-container .select2-choice {
    background: none;
    border-color: #CCC;
    height: auto;
    line-height: 30px;
    min-height: 30px;
}

.select2-container-multi .select2-choices {
    border-radius: 3px;
}

.select2-container-multi .select2-search-choice-close {
    left: 3px;
    right: auto;
}

.select2-dropdown-open .select2-choice,
.select2-dropdown-open .select2-choices {
    background: none !important;
}

.select2-container-multi .select2-choices:hover {
    border-color: #888;
}

.select2-container-multi .select2-choices {
    background: none;
    border-color: #CCC;
    box-shadow: none;
}

.select2-dropdown-open .select2-choice {
    border-color: #5897fb;
}

.select2-container .select2-choice .select2-arrow {
    background: transparent;
}

.select2-container-multi .select2-choices .select2-search-choice {
    background: #F2F2F2;
    line-height: 1.43;
}
