html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.layout {
    background: none;
    box-shadow: none;
    max-width: 100%;
    min-height: 100%;
    position: relative;
}

.outline {
    background: none;
    box-shadow: none;
    max-width: 100%;
    min-height: 100%;
    position: absolute;
    border-right: 1px solid #808080;
}


.view {
    background: none;
    box-shadow: none;
    margin-left: 150px;
}


table tr:hover{
    background: #EFEFEF;
}


#toggle-all {
    position: absolute;
    top: -42px;
    left: -4px;
    width: 40px;
    text-align: center;
    border: none;
    /* Mobile Safari */
}

#toggle-all:before {
    content: '»';
    font-size: 28px;
    color: #d9d9d9;
    padding: 0 25px 7px;
}

#toggle-all:checked:before {
    color: #737373;
}
