/* .issue-nav */

.aside.issue-nav {
    padding: 20px 8px;
}

.issue-nav ul.issue-filter {
    list-style: none;
    margin: 0 !important;
    padding: 5px 15px 15px 15px;
}

.issue-nav .issue-filter li {
    margin: 0;
    padding: 0;
}

.issue-nav .issue-filter li a.nav-link {
    padding: 4px !important;
}

.issue-nav .issue-filter li a.active {
    border-left: 2px solid #666;
}


/* .issues-view fields */

.issues-view .col-issue-status {
    width: 28px;
}

.issues-view .issue-body {
    width: 60%;
}

.issues-view .issue-body-text {
    font-weight: bold;
}

.issues-view .issue-tags .issue-tag {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    line-height: 1;
    padding: 4px;
}

.issues-view .issue-due-date {
    color: #888;
    display: block;
    padding-top: 4px;
}

.issue-due-date-from-now {
    color: #333;
}

.issues-view .issue-assignee {
    position: absolute;
    right: 30px;
    top: 0;
    width: 160px;
}

@media ( max-width: 768px) {
    .issues-view .issue-assignee {
        display: block;
        position: relative;
        left: 32px;
    }
}

.issues-view .issue-priority {
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
