.issues-wrapper {
    display: flex;
}

.issues-view .header-title {
    float: left;
}

.issues-view .content-header .content-actions {
    border: none;
    float: right;
}

.issues-view .content-header .content-actions .btn {
    border-radius: 3px;
    line-height: 20px;
}

.aside.issue-nav {
    padding: 20px 8px;
}

.issue-nav ul.issue-filter {
    list-style: none;
    margin: 0 !important;
    padding: 5px 15px 15px 15px;
}

.issue-nav .issue-filter li {
    margin: 0;
    padding: 0;
}

.issue-nav .issue-filter li a.nav-link {
    padding: 4px !important;
}
