.pagination {
	text-align: center;
	padding: 4px 4px 2px;
}

.pagination a {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 2px;
	color: #444;
	display: inline-block;
	line-height: 1.3em;
	margin: 1px;
	outline: 0;
	padding: 5px 9px;
	text-align: center;
	text-decoration: none;
}

.pagination a:hover {
	border-color: #333;
}

.pagination .page-active {
	font-weight: bold;
}

.pagination a.page-first, .pagination a.page-prev, .pagination a.page-next, .pagination a.page-last {
	display: inline-block !important;
}

.pagination-select {
	display: inline-block;
}

.pagination-select select {
	border-radius: 2px;
	padding: 4px;
	vertical-align: middle;
}

.phone .pagination a {
	display: none;
	margin: 1px 2px;
}

.tablet .pagination a:active, .phone .pagination a:active {
	background: #dfdfdf !important;
}