.tags-view {}

.tags-view .entries > .tag-form {
    padding: 0 12px;
}

.tags_add {
    border-radius: 6px;
    font-size: 16px;
    padding: 0 12px;
    position: relative;
    width: 100%;
}

.tags_add fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.tags_add fieldset input {
    background: transparent;
    height: 41px;
    margin: 14px 0;
    padding: 8px;
    padding-right: 10em;
    width: 100%;
}

.tags_add fieldset .btn {
    font-size: 13px;
    height: 33px;
    position: absolute;
    right: 15px;
    top: 18px;
}
