.users-view {}

.users-view .header-title {
    float: left;
}

.users-view .content-header .content-actions {
    border: none;
    float: right;
}

.users-view .content-header .content-actions .btn {
    border-radius: 3px;
    line-height: 20px;
}
