.nav-app {}

.tablet .nav-app,
.phone .nav-app {
    background: #FFF;
    left: -230px;
    height: 100%;
    overflow-y: auto;
    padding: 8px 0;
    position: fixed;
    top: 0;
    transition: all .15s;
    width: 230px;
    z-index: 7;
}

body.nav-app-open {
    overflow: hidden;
}

.nav-app-open .content-overlay {
    display: block;
}

.tablet.nav-app-open .nav-app,
.phone.nav-app-open .nav-app {
    -moz-transform: translate(230px, 0);
    -webkit-transform: translate(230px, 0);
    transform: translate(230px, 0);
    transform: translate3d(230px, 0, 0);
}

.phone .nav-app .nav-item {
    border: 0;
    display: block;
    height: auto;
    line-height: 1;
    padding: 13px 16px;
    text-align: left;
    white-space: nowrap;
}

.phone .nav-app .nav-item:hover,
.phone .nav-app .nav-item.active {
    background-color: #F9F9F9;
    border: 0;
}

.phone .nav-app .nav-item.active {
    background-color: #F5F5F5;
}

.phone .nav-app .nav-item.dropdown:hover {
    background: none;
}

.phone .nav-app .nav-item > i {
    text-align: left;
}

.phone .nav-app .nav-item > span {
    color: #303333;
    display: inline-block;
}

.phone .nav-app .dropdown:before {
    background-color: #F5F5F5;
    content: '';
    display: block;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}

.phone .nav-app .dropdown > .dropdown-toggle {
    display: none;
}

.phone .nav-app .dropdown-menu {
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    display: block;
    float: none;
    font-size: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    top: auto;
    z-index: 0;
}

.phone .nav-app .dropdown-menu:before,
.phone .nav-app .dropdown-menu:after {
    display: none;
}

.phone .nav-app .dropdown-menu a {
    padding: 13px 16px;
}

.phone .nav-app .dropdown-menu a.active {
    background-color: #F9F9F9;
}
