.nav-profile .user-avatar {
    display: inline-block;
    vertical-align: top;
}

.nav-profile .user-avatar .fa {
    width: 16px;
}

.nav-profile .user-avatar .fa-angle-down {
    color: #999;
}

.nav-profile .user-name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 126px;
}

.nav-profile .ws > span {
    color: blue;
}

.nav-profile .logout > span {
    color: red;
}

.nav-profile .profile a > i {
    vertical-align: top;
}

.nav-profile .profile a > div {
    display: inline-block;
}
