.nav-profile .user-avatar {
    display: inline-block;
    vertical-align: top;
}

.nav-profile .user-name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 126px;
}

.nav-profile .ws > span {
    color: blue;
}

.nav-profile .logout > span {
    color: red;
}

.nav-profile .fa.expand {
    position: absolute;
    right: 0;
    text-align: center;
    width: 36px;
    z-index: 2;
}

.nav-profile .fa.expand:before {
    content: "\f107";
}

.nav-profile.expanded .fa.expand:before {
    content: "\f106";
}
