.navbar {
    background-color: #4CAF50;
    border-bottom: 1px solid #008805;
    color: #FFF;
    font-size: 0;
    margin: 0;
    padding: 0;
    vertical-align: top;
    white-space: nowrap;
}

.navbar-header {
    display: inline-block;
    float: left;
}

@media ( min-width: 768px) {
    .navbar-header {
        min-width: 180px;
    }
}

.navbar-brand {
    display: inline-block;
    padding: 1px 4px;
    vertical-align: top;
}

.brand-logo {
    line-height: 48px;
    max-height: 48px;
    vertical-align: top;
}

.brand-title {
    display: none;
    /* color: #FFF; */
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 48px;
    vertical-align: top;
}

.navbar-title {
    display: inline-block;
    font-size: 13px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.navbar-right {
    float: right;
}

.navbar-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.nav-item {
    background: transparent;
    border: 0;
    display: inline-block;
    height: 50px;
    margin: 0;
    min-width: 48px;
    outline: 0;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: top;
    /* width: 48px; */
}

.nav-item:hover,
.nav-app-side-toggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-item.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-link .nav-item {
    padding: 0 8px;
    width: auto;
}

.navbar a {
    font-size: 13px;
}

.navbar button {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    vertical-align: top;
}

.navbar .fa {
    color: #FFF;
    font-size: 24px;
    vertical-align: middle;
}

.phone .navbar .nav-t {
    display: none;
}


/* compose-new */

.nav-item.compose-new {
    display: none;
}

.tablet .nav-item.compose-new,
.phone .nav-item.compose-new {
    display: inline-block;
}


/* nav-search-toggle */

.nav-item.nav-search-toggle {
    display: none;
}

.tablet .nav-item.nav-search-toggle,
.phone .nav-item.nav-search-toggle {
    display: inline-block;
}

.nav-search-toggle i {
    padding-bottom: 2px;
}

.nav-search {
    display: inline-block;
    padding: 0 8px;
    width: 200px;
    white-space: nowrap;
}

.tablet .nav-search,
.phone .nav-search {
    background: #fff59d;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
}

.search-open .nav-search {
    display: block;
    z-index: 99;
}

.search-open .content-overlay {
    display: block;
}

.search-open .header {
    z-index: 9;
}

.search-form {
    display: block;
    height: 100%;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.search-form .search-toggle-back {
    cursor: pointer;
    display: none;
    height: 100%;
    position: absolute;
    left: 0;
}

.tablet .search-form .search-toggle-back,
.phone .search-form .search-toggle-back {
    display: inline-block;
}

.search-form .search-keyword {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.196), inset 0px 1px 1px rgba(0, 0, 0, 0.102);
    padding: 6px;
    position: relative;
    transition: all .15s;
    vertical-align: middle;
    width: 100%;
}

.tablet .search-form .search-keyword,
.phone .search-form .search-keyword {
    display: block;
    border: none !important;
    height: 100%;
    position: absolute;
    left: 48px;
    vertical-align: top;
}

.search-open .search-keyword,
.search-form .search-keyword:focus,
.search-form:hover .search-keyword {
    background: white;
    border: 1px solid #CCC;
}

.search-form .search-btn {
    height: 100%;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

.tablet .search-form .search-btn,
.phone .search-form .search-btn {
    position: absolute;
    right: 0;
}


/* nav-app-side-toggle */

.navbar .nav-app-side-toggle {
    display: none;
    height: 50px;
    width: 30px;
}

.tablet .nav-app-side-toggle,
.phone .nav-app-side-toggle {
    display: inline-block;
}


/* nav-app-toggle */

.nav-app-toggle {
    display: none;
}

.tablet .nav-app-toggle,
.phone .nav-app-toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 16px;
}

.nav-app-toggle:before {
    border-bottom: 3px solid #FFF;
    border-top: 3px solid #FFF;
    content: '';
    display: block;
    padding: 2px 0;
    width: 16px;
}

.nav-app-toggle:after {
    border-top: 3px solid #FFF;
    content: '';
    display: block;
    margin-top: 4px;
    width: 16px;
}


/* nav-ws-toggle */

.nav-ws-toggle {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
}

.nav-ws-toggle:hover,
.nav-ws-toggle:focus {
    box-shadow: 0 0 3px #999;
}

.nav-ws-toggle:before {
    border-left: 8px solid #FFF;
    border-right: 8px solid #FFF;
    content: '';
    display: block;
    height: 8px;
}

.nav-ws-toggle:after {
    border-left: 8px solid #FFF;
    border-right: 8px solid #FFF;
    content: '';
    display: block;
    height: 8px;
    margin-top: 4px;
}

@media ( max-width: 360px) {
    .navbar-brand {
        width: 48px;
    }
    .navbar-brand .brand-logo {
        display: none;
    }
}
