.form-login{
    width: 320px;
    margin: 0 auto;
    max-width: 90%;
}

.page-content {
    padding: 10px 0;
}


@media ( max-width: 768px) {
    .reset-password .form-control {
        margin: 0 auto;
        width: 90%;
    }
    .reset-password .form-inline {
        text-align: center;
    }
}

.navbar-brand>img {
    float: left;
    height: 50px;
    margin-right: 3px;
    margin-top: -15px;
    max-height: 50px;
}
