.formtitle{	font-size:20; margin-top:2;}
.fc{ width:18em; vertical-align:top; text-align:right; }
.rof{ border: 1px solid #CCC; vertical-align:top; }
.readonly{ background:#ededed; color:#444; border:1px solid #cdcdcd; padding:2px }
