.container {
  position: relative;
}


.header {
  height: 70px;

  width: 100%;
      margin:0px auto;
}

.nav {

  position: absolute;
  left: 0px;
  width: 250px;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}

.view {
 margin-left: 250px;
	border: 1px solid #FFCE00;
  margin-bottom: 120px;

}