.logo {
	width: 800px;
	height: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid blue;
}

.left {
	width: 250px;
	height: 400px;
	position: absolute;
	top: 102px;
	left: 0px;
	border: 1px solid blue;
}

.right {
	width: 150px;
	height: 300px;
	position: absolute;
	top: 102px;
	left: 650px;
	border: 1px solid blue;
}

.center {
	width: 496px;
	height: 400px;
	position: absolute;
	top: 102px;
	left: 252px;
	border: 1px solid blue;
}