.feature_box .inner {
    margin: 0 0 0px 0;
    padding: 0;
    position: relative;
}

.feature_box p {
    clear: both;
    color: #666;
    font-size: 1.2em;
    line-height: 1.8em;
    margin-left: 0px;
    text-align: left;
    text-indent: 10px;
}
