.heading,
.heading__sub {
    text-align: center;
}

.heading {
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
    text-transform: uppercase;
}

.heading > hr {
    border-color: #CCC;
    width: 150px;
}

.heading + .heading__sub {
    margin-top: -20px;
    margin-bottom: 40px;
    color: #666;
}

.heading__sub + .heading__btn {
    margin-top: -40px;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .heading {
        font-size: 36px;
        line-height: 36px;
        margin-top: 80px;
        margin-bottom: 60px;
    }
    .heading + .heading__sub {
        margin-top: -40px;
        margin-bottom: 80px;
        color: #666;
    }
}
