body {
    color: #767676;
    background: #FFF;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.header {
    background: url(../img/bloup.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position: relative;
    padding: 0;
}

.header::before {
    background: rgba(0, 0, 0, 0.3);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

footer {
    background: #F2F2F2;
    color: #666;
    padding: 40px 0;
    text-align: center;
}

.section {
    padding: 20px 0 40px;
    position: relative;
}

.section_divider {
    background: #EEE;
    display: block;
    border: none;
    height: 1px;
}

@media (min-width: 768px) {
    .section {
        padding: 40px 0 70px;
    }
}

a:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: 0;
}

a,
button {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
