.promo {
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 40px 0;
    text-align: center;
}

.heading.promo__heading {
    color: #FFCA00;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin: 10px 0 30px 0;
    text-transform: uppercase;
}

.heading__sub.promo-heading__sub {
    color: #FFF;
    font-size: 22px;
    margin: 10px 0;
}

.promo__heading span,
.promo-heading__sub span {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    display: inline-block;
    padding: 12px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .35);
}

.promo__btn {
    border-radius: 3px;
    margin: 10px 3px 0;
}

.promo__btn.btn-primary {
    background: rgba(249, 255, 0, 0.9);
    border-color: #F9FF00;
    color: #000000;
}

.promo__btn.btn-primary:hover,
.promo__btn.btn-primary:focus {
    background: #F9FF00;
    border-color: #FFF340;
    color: #383838;
}

.promo__btn.btn-link {
    background: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.96);
    text-decoration: none;
}

.promo__btn.btn-link:hover,
.promo__btn.btn-link:focus {
    background: #F2F2F2;
    color: #222;
}

@media (min-width: 768px) {
    .promo {
        padding: 90px 0 70px;
    }
    .heading.promo__heading {
        font-size: 36px;
        line-height: 36px;
    }
    .heading__sub.promo-heading__sub {
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    .promo {
        padding: 110px 0 90px;
    }
    .heading.promo__heading {
        font-size: 54px;
        line-height: 54px;
    }
    .heading__sub.promo-heading__sub {
        font-size: 32px;
    }
}
