{{#form-for model=model onSubmit="submit" bubbles=false}}
<header class="form-header">
    <h1 class="header-title">Account / {{name}}</h1>
    <div class="action-bar">
        <button type="submit" class="btn btn-primary">{{t "save"}}</button>
        <button class="btn" {{action "goBack"}}>{{t "cancel"}}</button>
    </div>
</header>
<section class="form-content">
    <div class="fieldset">
        <div class="control-group">
            <div class="control-label">
                {{t 'name'}}
            </div>
            <div class="controls">
                {{input value=model.name class="span7"}}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{t 'amountControl'}}
            </div>
            <div class="controls">
                {{input type="number" value=model.amountControl class="span7"}}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{t 'owner'}}
            </div>
            <div class="controls">
                {{input value=model.owner class="span7"}}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{t 'observers'}}
            </div>
            <div class="controls">
                {{input value=model.observers class="span7"}}
            </div>
        </div>
    </div>
</section>
{{/form-for}}
