<div class="layout">
    {{partial "header"}}
    <section class="flex">
        {{partial "sidenav"}}
        <div class="content-overlay" id="content-overlay" {{action "hideOpenedNav" on="mouseDown" }}></div>
        <section class="layout_content">
            {{outlet}}
        </section>
        <aside class="layout_aside nav-ws">
            <header>
                {{#link-to "user_profile" class="user"}}
                <i class="fa fa-user"></i>
                <span>{{model.login}}</span> {{/link-to}}
            </header>
            <footer>
                <a href="#index" class="ws-exit" {{action "logout"}}>
                    <i class="fa fa-sign-out"></i>
                    <span>{{t "logout"}}</span>
                </a>
            </footer>
        </aside>
    </section>
</div>
