<div class="error error_404">
    <header class="content-header">
        <h1 class="header-title">{{t 'error'}}/{{t 'unknown_url'}}(404)</h1>
    </header>
    <section class="content-body">
        {{t 'unknown_url'}}
    </section>
</div>
