{{#tn-form model=user onSubmit="submit" action="save"}}
<header class="form-header">
    <h1 class="header-title">
        <button class="go-back" {{action "goBack"}}>
            <i class="fa fa-chevron-left"></i>
        </button>
        {{t "user_profile"}}
    </h1>
</header>
<section class="form-content">
    <div class="user_avatar">
        avatar
    </div>
    <div class="fieldset" style="overflow:hidden">
        {{#tn-form-group property="name"}}
            <div>{{t "user_name"}}</div>
            {{input value=user.name}}
            {{tn-error-message}}
        {{/tn-form-group}}
        {{#tn-form-group property="email"}}
            <div>{{t "email"}}</div>
            {{input value=user.email}}
            {{tn-error-message}}
        {{/tn-form-group}}
        {{#tn-form-group property="password"}}
            <div>{{t "password"}}</div>
            {{input type="password" value=user.password}}
            {{tn-error-message}}
        {{/tn-form-group}}
    </div>
</section>
<footer class="action-bar">
    <button class="btn" {{action "goBack"}}>{{t "cancel"}}</button>
    <button type="submit" class="btn btn-primary">{{t "save"}}</button>
</footer>
{{/tn-form}}
