{{#form-for model=model onSubmit="submit" action="save"}}
<header class="form-header">
    <h1 class="header-title">{{t "user_profile"}} / {{name}}</h1>
    <div class="action-bar">
        <button class="btn" {{action "goBack"}}>{{t "cancel"}}</button>
        <button type="submit" class="btn btn-primary">{{t "save"}}</button>
    </div>
</header>
<section class="form-content">
    {{#if isNotValid}}
        is not valid
    {{/if}}
    <div class="user_avatar">
        avatar
    </div>
    <div class="fieldset">
        <div class="control-group">
            <div class="control-label">
                {{t "user_fullname"}}
            </div>
            <div class="controls">
                {{input value=model.name}}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{t "email"}}
            </div>
            <div class="controls">
                {{input type="email" value=model.email}}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{t "password"}}
            </div>
            <div class="controls">
                {{input type="password" value=model.password}}
            </div>
        </div>
    </div>
</section>
{{/form-for}}
