.btn {
    background-color: #FFF;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    box-sizing: border-box;
    color: #243140;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1;
    margin: 0 1px 1px 1px;
    outline: 0;
    padding: 9px 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.196);
    vertical-align: top;
    white-space: nowrap;
}

.btn-sm {
    padding: 6px;
}

.btn-lg {
    padding: 16px 18px;
}

.btn:hover {
    background-color: #efefef;
    color: #243140;
    text-decoration: none;
}

.btn:active {
    background-color: #dfdfdf;
}

.tablet .btn,
.phone .btn {
    line-height: 18px;
}

.btn[disabled],
.btn.disabled {
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
}

.btn-default {
    background-color: #F5F6F7;
}

.btn-primary {
    background-color: #FFED81;
    border: 1px solid #FFCE00;
}

.btn-primary:hover {
    background-color: #FFF1A8;
}

.btn-primary:active {
    background-color: #FFED81;
}

.btn-warning {
    background-color: #F44336;
    border: 1px solid #E00000;
    color: #FFF;
}

.btn-warning:hover {
    background-color: #FF5722;
    color: #FFF;
}

.btn-warning:active {
    background-color: #F44336;
    color: #FFF;
}

.btn-link {
    background: none;
    border: 1px solid transparent;
}

.btn-link:hover,
.btn-link:active {
    background: none;
    text-decoration: underline;
}

.btn-link.btn-warning,
.btn-link.btn-warning:hover {
    color: #FF5722;
}

.btn-link.btn-warning:active {
    color: #F00;
}

.btn i {
    color: #666666;
}

.btn i+span {
    margin-left: 3px;
}
