input,
textarea,
select {
    background: white;
    border: 1px solid #CCC;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    min-height: 30px;
    font-size: 1em;
    max-width: 100%;
    outline: 0;
    padding: 7px;
    vertical-align: middle;
}

input[type=date] {
    height: 28px;
}

input[type=color] {
    box-shadow: none;
    height: 48px !important;
    padding: 1px;
    width: 48px !important;
}

input:hover,
textarea:hover,
select:hover {
    border-color: #888;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #4D90FE;
    box-shadow: 0px 0px 1px rgba(39, 128, 248, 0.196);
}

input[readonly]:focus {
    background: white;
}

input[disabled] {
    background: #FAFAFA;
}

input[type=checkbox][disabled],
input[type=radio][disabled] {
    background: #DDD;
}

input[required]:invalid,
textarea[required]:invalid {
    border-bottom-color: #FF7676;
}

input[type=checkbox],
input[type=radio] {
    border: 1px solid #CCC;
    box-shadow: none;
    margin: 0;
    max-width: 16px;
    padding: 1px;
    width: auto !important;
}

input[type=radio] {
    border: 1px solid transparent;
}

textarea {
    min-height: 5em;
    width: 100%;
}

.tablet input,
.tablet textarea,
.phone input,
.phone textarea {
    width: 100%;
}

.tablet input[type=checkbox],
.tablet input[type=radio],
.phone input[type=checkbox],
.phone input[type=radio] {
    padding: 2px;
}

.fieldset[disabled] input,
.fieldset[disabled] select {
    background-color: #FAFAFA;
}

@media ( max-width: 768px) {
    input,
    textarea {
        width: 100%;
    }
    input[type=checkbox],
    input[type=radio] {
        padding: 2px;
    }
}
