.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 10% 0 0;
    width: 570px;
}

h1 {
    color: #2B303B;
    font-size: 2em;
    font-weight: normal;
    margin-top: 0;
    text-align: left;
}

.col-logo,
.col-form {
    float: left;
    min-height: 230px;
    padding: 10px;
}

.col-logo {
    border-right: 2px solid #FFCC00;
    line-height: 200px;
    max-width: 25%;
    vertical-align: middle;
}

.col-logo img {
    vertical-align: middle;
    width: 100%;
}

.col-form {
    padding-top: 30px;
    text-align: center;
    width: 75%;
}

.form-wrapper {
    display: inline-block;
    max-width: 100%;
    text-align: right;
    width: 260px;
}

.col-form input {
    display: block;
    margin: 15px 0;
    width: 100%;
}

footer {
    border-top: 2px solid #FFCC00;
    color: #555;
    padding: 1em;
    text-align: center;
}
