<p>{{input type='text' value=username placeholder='User name'}}</p>
<p>{{input type='password' value=password placeholder='Password'}}</p>
<p><input type='submit' value='Login' {{action 'login'}}></p>