<script type="text/x-handlebars" data-template-name="signin">
<ul>

	<div class="center">
		<section>
			<div class="col-logo">
				<img src="img/2next.png" />
			</div>
			<div>
				<div>
					<h1>Administrator</h1>
					<p>{{input type='text' value=username }}</p>
					<p>{{input type='password' value=password }}</p>
					<p>
						<input type='submit' value='Login'{{action 'login'}}>
					</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</section>
		<footer> version 1.5 Copyright &#169; The F team developers
			2015 </footer>
	</div>
</ul>
</script>