<?xml version="1.0" encoding="UTF-8" ?>
<persistence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
     version="2.0" xmlns="http://java.sun.com/xml/ns/persistence">
     <persistence-unit name="JPA" transaction-type="RESOURCE_LOCAL">
     <provider>org.hibernate.ejb.HibernatePersistence</provider>
          <class>cashtracker.model.Account</class>
          <properties>
               <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver" />
               <property name="javax.persistence.jdbc.url"
                    value="jdbc:postgresql://localhost/cashtracker13u88gb9h76zv2gs" />
               <property name="javax.persistence.jdbc.user" value="k_zone_ya_ru" />
               <property name="javax.persistence.jdbc.password" value="4d33p0ku42ood7g8" />

          </properties>

     </persistence-unit>
</persistence>