<div class="view">
    <header class="view-header">
        <h1 class="header-title">{{t "users"}}</h1>
        <nav class="navbar-action on-desktop">
            <div class="action-bar">
                <button class="btn" {{action "composeRecord"}}>
                    {{t "add_user"}}
                </button>
            </div>
        </nav>
    </header>
    <section class="view-content">
        <div class="entries">
            {{#each model as |user|}}
                {{#unless user.isNew}}
                <div class="entry-wrap">
                    <div class="entry-actions">
                        <button class="entry-action action-delete" {{action "deleteRecord" user}}>
                            <i class="fa fa-trash" />
                        </button>
                    </div>
                    <div class="entry document">
                        <div class="entry-link">
                            <div class="entry-fields">
                                <span class="entry-field">
                                {{user.login}}
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                {{/unless}}
            {{/each}}
        </div>
    </section>
</div>
