{{#tn-form model=invite onSubmit="submit" action="sendInvite"}}
<header class="form-header">
    <h1 class="header-title">{{t "invite_title"}}</h1>
</header>
<section class="form-content">
    <fieldset class="fieldset">
        {{#tn-form-group property="email"}}
            <div class="control-label">
                {{t "email"}}
            </div>
            <div class="controls">
                {{input value=invite.email}}
                {{tn-error-message}}
                <p class="hint">
                    {{t "invite_email_hint"}}
                </p>
            </div>
        {{/tn-form-group}}
        {{#tn-form-group property="message"}}
            <div class="control-label">
                {{t "message"}}
            </div>
            <div class="controls">
                {{textarea value=invite.message}}
                {{tn-error-message}}
                <p class="hint">
                    {{t "invite_message_hint"}}
                </p>
            </div>
        {{/tn-form-group}}
    </fieldset>
    <footer class="action-bar">
        <button class="btn" {{action "goBack"}}>{{t "cancel"}}</button>
        <button class="btn" type="submit">
            <i class="fa fa-send-o"></i>{{t "send_invite"}}
        </button>
    </footer>
</section>
{{/tn-form}}
