{{#tn-form model=invite onSubmit="submit" action="sendInvite"}}
<header class="form-header">
    <h1 class="header-title">{{t "user"}}</h1>
</header>
<section class="form-content">
    <fieldset class="fieldset">
        {{#tn-form-group property="email"}}
            <div class="control-label">
                {{t "email"}}
            </div>
            <div class="controls">
                {{input value=invite.email}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}
        {{#tn-form-group property="message"}}
            <div class="control-label">
                {{t "message"}}
            </div>
            <div class="controls">
                {{textarea value=invite.message}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}
    </fieldset>
    <footer class="navbar-action">
        <button class="btn" {{action "goBack"}}>{{t "close"}}</button>
        <button class="btn" type="submit">
            {{t "send_invite"}}
        </button>
    </footer>
</section>
{{/tn-form}}
