{{#tn-form model=user onSubmit="submit" action="save"}}
<header class="form-header">
    <h1 class="header-title">{{t "user"}}</h1>
    <div class="action-bar">
        <button class="btn" {{action "goBack"}}>{{t "close"}}</button>
    </div>
</header>
<section class="form-content">
    <fieldset class="fieldset">
        <div class="form-group">
            <div class="control-label">
                {{t "login"}}
            </div>
            <div class="controls">
                {{user.login}}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label">
                {{t "email"}}
            </div>
            <div class="controls">
                {{user.email}}
            </div>
        </div>
    </fieldset>
</section>
{{/tn-form}}
