{{#tn-form model=user onSubmit="submit" action="save"}}
<header class="form-header">
    <h1 class="header-title">{{t "user"}} / {{user.login}}</h1>
    <div class="action-bar">
        <button class="btn" {{action "goBack"}}>{{t "cancel"}}</button>
        <button type="submit" class="btn btn-primary">{{t "save"}}</button>
    </div>
</header>
<section class="form-content">
    <fieldset class="fieldset">
        {{#tn-form-group property="login"}}
            <div class="control-label">
                {{t "name"}}
            </div>
            <div class="controls">
                {{input value=user.login}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="email"}}
            <div class="control-label">
                {{t "name"}}
            </div>
            <div class="controls">
                {{input value=user.email}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}
    </fieldset>
</section>
{{/tn-form}}
