.heading,
.heading__sub {
    text-align: center;
}

.heading {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    text-transform: uppercase;
}

.heading + .heading__sub {
    margin-top: -20px;
    margin-bottom: 40px;
    color: #9a9a9a;
}

.heading__sub + .heading__btn {
    margin-top: -40px;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .heading {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .heading + .heading__sub {
        margin-top: -40px;
        margin-bottom: 80px;
        color: #9a9a9a;
    }
}
