header {
    margin: 0;
    padding: 0;
}

footer {
    background: #F2F2F2;
    color: #666;
    padding: 40px 0;
    text-align: center;
}

.section {
    padding: 20px 0 40px;
    position: relative;
}

.section_divider {
    background: #EEE;
    display: block;
    border: none;
    height: 1px;
}

@media (min-width: 768px) {
    .section {
        padding: 40px 0 70px;
    }
}

a:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: 0;
}

a,
button {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
