.form-wrapper {
    max-width: 100%;
    min-width: 320px;
}

.fieldset {
    border: none;
    margin: 0 0 8px 0;
    padding: 8px;
}

.fieldset > .legend {
    border: none;
    border-bottom: 1px solid #E6E6E6;
    color: #000;
    display: block;
    font-size: .9em;
    margin: 0;
    padding: 0 0 0 1em;
    width: 100%;
}

.form-group {
    border-bottom: 1px solid transparent;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 28px;
    padding: 8px 0;
}

.form-group:after {
    content: ' ';
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.form-group:last-child {
    border-bottom: none;
}

.tablet .form-group,
.phone .form-group {
    border-bottom-color: #F2F2F4;
}

.form-group-divider {
    display: block;
    border: none;
    border-bottom: 1px dotted #D9D9D9;
    height: 1px;
    margin: 4px 0;
}

.form-group .control-label {
    color: #303333;
    display: block;
    float: left;
    font-size: 1em;
    margin: 0;
    max-width: 100%;
    min-height: inherit;
    overflow: hidden;
    padding: 5px 0px 0px;
    text-align: right;
    width: 200px;
}

.form-group .controls {
    color: #000;
    display: block;
    margin: 0 0 0 210px;
    max-width: 100%;
    min-height: inherit;
    padding: 0px;
}

.form-group.vertical {
    border-bottom-color: transparent !important;
}

.form-group.vertical .control-label,
.form-group.vertical .controls {
    display: block;
}

.has-error>.controls input,
.has-error>.controls textarea,
.has-error>.controls select {
    border-color: #DE3309;
}

@media ( max-width: 960px) {
    .form-group .control-label {
        width: 170px;
    }
    .form-group .controls {
        margin-left: 180px;
    }
}

@media ( max-width: 768px) {
    .form-group {
        border-bottom-color: #F2F2F4;
        width: auto;
    }
    .form-group .control-label {
        text-align: left;
        width: 135px;
    }
    .form-group .controls {
        margin-left: 140px;
    }
    .form-group.form-group-no-label .controls {
        margin-left: 0px;
    }
}

@media ( max-width: 540px) {
    .form-group .control-label {
        width: 90px;
    }
    .form-group .controls {
        margin-left: 95px;
    }
    .form-group.form-group-no-label .controls {
        margin-left: 0px;
    }
}
