.layout {
    margin: 0px auto;
    min-height: 100%;
    min-width: 320px;
    position: relative;
    width: 100%;
}

.header {
    border: none;
    display: block;
    max-width: inherit;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.main {
    display: block;
    margin: 0px auto;
}

.aside {
    background-color: #FFF;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 50px;
    transition: all .15s;
    width: 230px;
    z-index: 4;
}

.tablet .aside,
.phone .aside {
    border: none;
    top: 0;
    z-index: 99;
}

.content {
    background: #FFF;
    border: none;
    height: auto;
    margin: 0 0 10px 230px;
    padding: 0 0 20px 0;
    padding-top: 50px;
    position: relative;
}

.tablet .content,
.phone .content {
    margin: 0 0 10px 0px;
}

.content-overlay {
    background: rgba(0, 0, 0, .3);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}
