.nav-profile {
    border-radius: 3px;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: .3em;
}

.nav-profile > header {
    cursor: pointer;
    margin: 0;
    padding: 1em;
}

.nav-profile > section {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 200ms;
}

.nav-profile.expanded > section {
    max-height: 500px;
}

.nav-profile ul {
    margin: 0;
    padding: 0;
}

.nav-profile li {
    list-style: none;
    margin: 1px 0 0 0;
    padding: 0;
}

.nav-profile .profile {}

.nav-profile .ws {
    color: blue;
}

.nav-profile .logout {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: .8em .5em;
    text-align: left;
    width: 100%;
}

.nav-profile .logout:hover {
    background-color: #F5F5F5;
    color: red;
}
