.nav-app .fa {
    color: #5C5C5C;
    font-size: 1.3em;
}

.nav-app .fa.green,
.fa.green {
    color: green;
}

.nav-app .fa.red,
.fa.red {
    color: red;
}

.nav-app .fa.blue,
.fa.blue {
    color: blue;
}
