.view {
    background: #FFF;
    min-width: 320px;
    position: relative;
}


/* document */

.document:hover {
    background: #F7F7F7;
}

.document a {
    color: #333;
    text-decoration: none;
}

.document:hover a {
    color: #0000EE;
}


/* */

.view-empty {
    color: #666;
    font-size: 1.3em;
}

.view .unread {
    font-weight: bold;
}

.negative-sum {
    color: #E02117 !important;
}

.response a {
    display: inline;
}


/* entries-head */

.entries-head {
    display: block;
}

.head-wrap {
    background: #F5F5F5;
    border-bottom: 1px solid #EEE;
    border-top: 1px solid #EEE;
    display: block;
    height: 40px;
    line-height: 38px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
}

.head-wrap .entry-select {
    height: 40px;
    line-height: 38px;
    margin: 0;
    padding: 0 !important;
}

.entry-captions {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
}

.entry-captions>span {
    display: inline-block;
    overflow: hidden;
    padding: 0 3px;
}


/* entries */

.entries {
    display: block;
    position: relative;
}

.entry-wrap {
    background: #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: top;
    width: 100%;
}

.entry-wrap.entry-action-open,
.entry-wrap:hover {
    background: #F5F5F5;
}

.entry-wrap:hover .entry-actions {
    z-index: 4;
}

.tablet .entry-wrap:hover .entry-actions,
.phone .entry-wrap:hover .entry-actions {
    z-index: 2;
}


/* entry */

.entry {
    background: #FFF;
    display: block;
    overflow: hidden;
    position: relative;
    transition: transform .20s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    white-space: nowrap;
    width: 100%;
    z-index: 3;
}

.entry-select,
.entry-link {
    display: inline-block;
    padding: 8px 0;
    vertical-align: top;
}

.tablet .entry-select,
.tablet .entry-link,
.phone .entry-select,
.phone .entry-link {
    padding: 20px 0;
}

.entry-select {
    line-height: inherit;
    text-align: center;
    width: 44px;
}

.entry-link {
    line-height: 1.4;
    position: relative;
    width: 100%;
}

.entry-link.active {
    background-color: #F5F5F5;
}

.entry-fields {
    position: relative;
}

.entry-fields .entry-field {
    display: inline-block;
    overflow: hidden;
    padding: 0 3px;
    vertical-align: top;
}

.entry-field>span,
.entry-field-text {
    vertical-align: top;
    white-space: normal;
    word-break: break-all;
}


/* entry-actions */

.entry-actions {
    bottom: 0;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 60px;
    z-index: 2;
}


/* .entry-wrap:hover .entry-actions,  */

.entry-action-open .entry-actions {
    display: block;
}


/* .tablet .entry-wrap:hover .entry, .phone .entry-wrap:hover .entry,  */

.entry-action-open .entry {
    box-shadow: 0 0 6px #666;
    direction: rtl;
    -moz-transform: translate(-70px, 0);
    -webkit-transform: translate(-70px, 0);
    transform: translate(-70px, 0);
}

.entry-action {
    border: none;
    display: inline-block;
    font-size: 14px;
    height: 100%;
    line-height: 100%;
    padding: 4px 0;
    position: relative;
    text-align: center;
    width: 60px;
}

.action-delete {
    background: white;
    color: red;
}

.action-delete:hover {
    background: red;
    color: white;
}

.action-delete:hover .fa {
    color: white;
}
