<div class="view view_op">
    <div class="view-header">
        <h1 class="header-title">{{t "transactions"}}</h1>
        <nav class="nav-action-bar">
            <div class="pull-right">
                page-navigator
            </div>
            <div class="-on-desktop">
                <div class="action-bar">
                    {{#link-to "transactions.new" class="btn"}}
                    <i class="fa fa-plus"></i>{{t "add"}} {{/link-to}}
                </div>
            </div>
        </nav>
    </div>
    <div class="view-content">
        <header class="entries-head">
            <div class="head-wrap op-head">
                <label class="entry-select">
                    <input type="checkbox" data-toggle="id" class="all" />
                </label>
                <div class="entry-captions">
                    <span class="op-icon-att">
                        <i class="fa fa-paperclip" />
                    </span>
                    <span class="op-account">
                        
                    </span>
                    <span class="op-date">
                        
                    </span>
                    <span class="op-amount">
                        
                    </span>
                    <span class="entry-field op-costcenter"></span>
                </div>
            </div>
        </header>
        <div class="entries">
            {{#each model as |transaction|}}
            <div class="entry-wrap">
                <div class="entry-actions">
                    <a class="entry-action action-delete" data-ddbid="{{transaction.id}}" href="#">
                        <i class="fa fa-trash" />
                    </a>
                </div>
                <div class="entry document js-swipe-entry js_saldo_on_date">
                    <label class="entry-select">
                        <input type="checkbox" name="id" value="{{transaction.id}}" />
                    </label>
                    {{#link-to "transactions.transaction" transaction class="entry-link"}}
                    <div class="entry-fields">
                        <span class="entry-field op-icon-att" {{hasattach}}></span>
                        <span class="entry-field op-account">
                            {{transaction.account}}
                        </span>
                        <span class="entry-field op-date">
                            {{transaction.date}}
                        </span>
                        <span class="entry-field op-amount">
                            {{transaction.amount}}
                        </span>
                        <span class="entry-field vcategory-icon-type">
                            <i class="operation-type-icon-{{transaction.type}}"></i>
                        </span>
                        <span class="entry-field op-costcenter">
                            {{transaction.costCenter}}
                        </span>
                        <span class="entry-field op-vt">
                            <span>
                                {{transaction.comment}}
                            </span>
                        </span>
                    </div>
                    {{/link-to}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
