<div class="view view_op">
    <header class="view-header">
        <h1 class="header-title">{{t "transactions"}}</h1>
        <nav class="navbar-action on-desktop">
            <div class="action-bar pull-left">
                <button class="btn" {{action "composeRecord"}}>
                    <i class="fa fa-plus"></i>{{t "add"}}
                </button>
            </div>
            <div class="action-bar pull-right">
                page-navigator
            </div>
        </nav>
    </header>
    <section class="view-content">
        <header class="entries-head">
            <div class="head-wrap op-head">
                <label class="entry-select">
                    <input type="checkbox" class="all" {{action "selectAll"}} />
                </label>
                <div class="entry-captions">
                    <span class="op-icon-att">
                        <i class="fa fa-paperclip" />
                    </span>
                    <span class="op-account">
                        {{t "account"}}
                    </span>
                    <span class="op-date">
                        {{t "date"}}
                    </span>
                    <span class="op-amount">
                        {{t "amount"}}
                    </span>
                    <span class="entry-field op-costcenter">
                        {{t "costcenter"}}
                    </span>
                </div>
            </div>
        </header>
        <div class="entries">
            {{#each model as |transaction|}}
            <div class="entry-wrap">
                <div class="entry-actions">
                    <button class="entry-action action-delete" {{action "delete"}}>
                        <i class="fa fa-trash" />
                    </button>
                </div>
                <div class="entry document">
                    <label class="entry-select">
                        <input type="checkbox" value="{{transaction.id}}" {{action "selectOne"}} />
                    </label>
                    {{#link-to "transactions.transaction" transaction class="entry-link"}}
                    <div class="entry-fields">
                        <span class="entry-field op-icon-att" {{hasattach}}></span>
                        <span class="entry-field op-account">
                            {{transaction.account}}
                        </span>
                        <span class="entry-field op-date">
                            {{transaction.date}}
                        </span>
                        <span class="entry-field op-amount">
                            {{transaction.amount}}
                        </span>
                        <span class="entry-field vcategory-icon-type">
                            <i class="operation-type-icon-{{transaction.type}}"></i>
                        </span>
                        <span class="entry-field op-costcenter">
                            {{transaction.costCenter}}
                        </span>
                        <span class="entry-field op-vt">
                            <span>
                                {{transaction.comment}}
                            </span>
                        </span>
                    </div>
                    {{/link-to}}
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</div>
