<div class="view view_op">
    <header class="content-header">
        <h1 class="header-title">{{t 'transactions'}}</h1>
        <nav class="content-actions on-desktop">
            <button class="btn" {{action 'composeRecord'}}>
                <i class="fa fa-plus"></i>{{t 'add'}}
            </button>
            <div class="pull-right">
                page-navigator
            </div>
        </nav>
    </header>
    <section class="content-body">
        <header class="entries-head">
            <div class="head-wrap op-head">
                <label class="entry-select">
                    <input type="checkbox" class="all" {{action 'selectAll'}} />
                </label>
                <div class="entry-captions">
                    <span class="op-icon-att">
                        <i class="fa fa-paperclip" />
                    </span>
                    <span class="op-account">
                        {{t 'account'}}
                    </span>
                    <span class="op-date">
                        {{t 'date'}}
                    </span>
                    <span class="op-amount">
                        {{t 'amount'}}
                    </span>
                    <span class="op-costcenter">
                        {{t 'costcenter'}}
                    </span>
                </div>
            </div>
        </header>
        <div class="entries">
            {{#each model as |transaction|}}
                {{#unless transaction.isNew}}
                <div class="entry-wrap">
                    <div class="entry-actions">
                        <button class="entry-action action-delete" {{action 'deleteRecord' transaction}}>
                            <i class="fa fa-trash" />
                        </button>
                    </div>
                    {{#tn-swipe-entry class='entry document'}}
                        <label class="entry-select">
                            <input type="checkbox" value="{{transaction.id}}" {{action 'selectOne'}} />
                        </label>
                        {{#link-to 'transactions.transaction' transaction class='entry-link'}}
                        <div class="entry-fields">
                            <span class="op-icon-att" {{hasattach}}></span>
                            <span class="op-account">
                                {{transaction.account}}
                            </span>
                            <span class="op-date">
                                {{transaction.date}}
                            </span>
                            <span class="op-amount">
                                {{transaction.amount}}
                            </span>
                            <span class="vcategory-icon-type">
                                <i class="operation-type-icon-{{transaction.type}}"></i>
                            </span>
                            <span class="op-costcenter">
                                {{transaction.costCenter}}
                            </span>
                            <span class="op-vt">
                                <span>
                                    {{transaction.comment}}
                                </span>
                            </span>
                        </div>
                        {{/link-to}}
                    {{/tn-swipe-entry}}
                </div>
                {{/unless}}
            {{/each}}
        </div>
    </section>
</div>
