{{#tn-form model=transaction onSubmit="submit" action="save"}}
<header class="form-header">
    <h1 class="header-title">
        <small id="saldo" class="pull-right" title="Сальдо"></small>
        {{transaction.title}} № {{transaction.vn}} {{transaction.date}}
    </h1>
    <div class="action-bar">
        <button class="btn" {{action "goBack"}}>{{t "cancel"}}</button>
        <button type="submit" class="btn btn-primary">{{t "save"}}</button>
    </div>
</header>
<section class="form-content">
    <fieldset class="fieldset">
        <!-- Дата операции -->
        <div class="control-group">
            <div class="control-label">
                {{t 'date'}}
            </div>
            <div class="controls">
                {{input value=transaction.date class="span7"}}
            </div>
        </div>
        <!-- Касса -->
        <div class="control-group">
            <div class="control-label">
                {{t 'account'}}
            </div>
            <div class="controls">
                {{view "select"
                    contentBinding="accounts"
                    optionValuePath="content.id"
                    optionLabelPath="content.name"
                    value=transaction.account
                    prompt='- Select -'}}
                {{tn-error-message}}
            </div>
        </div>
        <!-- category -->
        <div class="control-group">
            <div class="control-label">
                {{t 'category'}}
            </div>
            <div class="controls">
                {{view "select"
                    contentBinding="categories"
                    optionValuePath="content.id"
                    optionLabelPath="content.name"
                    value=transaction.category
                    prompt='- Select -'}}
                {{tn-error-message}}
            </div>
        </div>
        <!-- Целевая касса -->
        <!-- Сумма -->
        <div class="control-group">
            <div class="control-label">
                {{t 'amount'}}
            </div>
            <div class="controls">
                {{input type="number" value=transaction.amount class="span7"}}
            </div>
        </div>
        <!-- Место возникновения -->
        <div class="control-group">
            <div class="control-label">
                {{t 'cost_center'}}
            </div>
            <div class="controls">
                {{view "select"
                    contentBinding="costCenters"
                    optionValuePath="content.id"
                    optionLabelPath="content.name"
                    value=transaction.costCenter
                    prompt='- Select -'}}
            </div>
        </div>
        <!-- Основание -->
        <div class="control-group">
            <div class="control-label">
                {{t 'basis'}}
            </div>
            <div class="controls">
                {{textarea value=transaction.basis class="span7"}}
            </div>
        </div>
        <!-- documented -->
    </fieldset>
    <div id="tabs-2">
        <form action="Uploader" name="upload" id="upload" method="post" enctype="multipart/form-data">
            <!-- Секция "Вложения" -->
            <div display="block" id="att">
                <br /> attach
            </div>
        </form>
    </div>
</section>
{{/tn-form}}
