{{#tn-form model=transaction onSubmit="submit" action="save"}}
<header class="form-header">
    <h1 class="header-title">
        <small id="saldo" class="pull-right" title="Сальдо"></small>
        {{t "transaction"}}
    </h1>
    <div class="action-bar">
        <button class="btn" {{action "goBack"}}>{{t "cancel"}}</button>
        <button type="submit" class="btn btn-primary">{{t "save"}}</button>
    </div>
</header>
<section class="form-content">
    <fieldset class="fieldset">
        {{#tn-form-group property="date"}}
            <div class="control-label">
                {{t "date"}}
            </div>
            <div class="controls">
                {{input type="date" value=transaction.date}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="account"}}
            <div class="control-label">
                {{t "account"}}
            </div>
            <div class="controls">
                {{view "select"
                    contentBinding="accounts"
                    optionValuePath="content.id"
                    optionLabelPath="content.name"
                    selectionBinding="transaction.account"
                    prompt='- Select -'}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="category"}}
            <div class="control-label">
                {{t "category"}}
            </div>
            <div class="controls">
                {{view "select"
                    contentBinding="categories"
                    optionValuePath="content.id"
                    optionLabelPath="content.name"
                    selectionBinding="transaction.category"
                    prompt='- Select -'}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="amount"}}
            <div class="control-label">
                {{t "amount"}}
            </div>
            <div class="controls">
                {{input value=transaction.amount}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="costCenter"}}
            <div class="control-label">
                {{t "cost_center"}}
            </div>
            <div class="controls">
                {{view "select"
                    contentBinding="costCenters"
                    optionValuePath="content.id"
                    optionLabelPath="content.name"
                    selectionBinding="transaction.costCenter"
                    prompt='- Select -'}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}

        {{#tn-form-group property="note"}}
            <div class="control-label">
                {{t "note"}}
            </div>
            <div class="controls">
                {{textarea value=transaction.note}}
                {{tn-error-message}}
            </div>
        {{/tn-form-group}}
    </fieldset>
    <div id="tabs-2">
        <form action="Uploader" name="upload" id="upload" method="post" enctype="multipart/form-data">
            <!-- Секция "Вложения" -->
            <div display="block" id="att">
                <br /> attach
            </div>
        </form>
    </div>
</section>
{{/tn-form}}
