<div class="view view_accounts">
    <header class="view-header">
        <h1>accounts</h1>
    </header>
    <nav>
        <a href="#/accounts/new">new account</a>
    </nav>
    <section>
        {{outlet}}
    </section>
    <section class="view-content">
        <header class="entries-head">
            <div class="head-wrap">
                <label class="entry-select">
                    <input type="checkbox" class="all" {{action "selectAll"}} />
                </label>
                <div class="entry-captions">
                    <span class="vaccount-name">
                        captions/viewtext1
                    </span>
                    <span class="vaccount-user">
                        captions/viewtext2
                    </span>
                    <span class="vaccount-observers">
                        captions/viewtext3
                    </span>
                    <span class="vaccount-amount-control">
                        captions/viewnumber
                    </span>
                </div>
            </div>
        </header>
        <div class="entries">
            {{#each controller}}
            <div class="entry-wrap">
                <div class="entry-actions">
                    <a class="entry-action action-delete" data-ddbid="{{id}}" href="#">
                        <i class="fa fa-trash" />
                    </a>
                </div>
                <div data-ddbid="{{id}}" class="entry document js-swipe-entry">
                    <label class="entry-select">
                        <input type="checkbox" name="id" value="{{id}}" {{action "selectOne"}} />
                    </label>
                    {{#link-to "account" this class="entry-link"}}
                    <div class="entry-fields">
                        <span class="entry-field vaccount-name">
                            {{name}}
                        </span>
                        <span class="entry-field vaccount-user">
                            
                        </span>
                        <span class="entry-field vaccount-observers">
                            <span>
                                
                            </span>
                        </span>
                        <span class="entry-field vaccount-amount-control">
                            
                        </span>
                    </div>
                    {{/link-to}}
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</div>
