<header class="form-header">
    <h1 class="header-title">Account / {{name}}</h1>
    <div class="action-bar">
        <button class="btn btn-primary" {{action 'save'}}>Save</button>
        <a class="btn" href="#/accounts">Cancel</a>
    </div>
</header>
<section class="form-content">
    <fieldset class="fieldset" {{disabled}}>
        <div class="fieldset-container">
            <div class="control-group">
                <div class="control-label">
                    name
                </div>
                <div class="controls">
                    {{input name="name" value=name required=true class="span7"}}
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    type
                </div>
                <div class="controls">
                    {{input name="type" value=type required=true class="span7"}}
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    amountControl
                </div>
                <div class="controls">
                    {{input name="amountControl" value=amountControl required=true class="span7"}}
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    owner
                </div>
                <div class="controls">
                    {{input name="owner" value=owner.id required=true class="span7"}}
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    observers
                </div>
                <div class="controls">
                    {{input name="amountControl" value=amountControl required=true class="span7"}}
                </div>
            </div>
        </div>
    </fieldset>
</section>
