<div class="content-overlay" id="content-overlay" {{action 'hideOpenedNav' on='mouseDown' }}></div>
<header class="layout_header">
    <div class="main-header">
        <div class="head-item head-nav-app-toggle" {{action 'navAppMenuToggle'}}>
            <div class="nav-app-toggle"></div>
        </div>
        <div class="head-item brand">
            <img alt="logo" src="/SharedResources/logos/cashtracker_small.png" class="brand-logo" />
            <span class="brand-title">CashTracker</span>
        </div>
        <div class="head-item head-nav-ws-toggle">
            <div class="nav-ws-toggle" {{action 'navUserMenuToggle' on='mouseDown' }}></div>
        </div>
        <div class="head-item nav-search-toggle" id="toggle-head-search" {{action 'toggleSearchForm' on='mouseDown' }}>
            <i class="fa fa-search"></i>
        </div>
        <div class="head-item nav-search" id="search-block">
            <div class="search-toggle-back" {{action 'toggleSearchForm' on='mouseDown' }}>
                <i class="fa fa-chevron-left"></i>
            </div>
            <form action="Provider" method="GET" name="search">
                <input type="hidden" name="type" value="page" />
                <input type="hidden" name="id" value="search" />
                <input type="search" name="keyword" value="" class="search-keyword" required="required" placeholder="Поиск" />
                <button type="submit" class="search-btn">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <a class="no-desktop head-item nav-action" href="#" data-action="add_new">
            <i class="fa fa-plus"></i>
            <span class="action-label"></span>
        </a>
    </div>
</header>
<aside class="layout_aside nav-app">
    <div class="side">
        <div class="side-container">
            <div class="side-nav">
                <ul class="side-tree">
                    <li class="side-tree-item">
                        {{#link-to 'transactions'}}
                            <i class="fa fa-file-o"></i>Transactions
                        {{/link-to}}
                    </li>
                    <li class="side-tree-item">
                        {{#link-to 'accounts'}}
                            <i class="fa fa-file-o"></i>Accounts
                        {{/link-to}}
                    </li>
                    <li class="side-tree-item">
                        {{#link-to 'categories'}}
                            <i class="fa fa-file-o"></i>Categories
                        {{/link-to}}
                    </li>
                    <li class="side-tree-item">
                        {{#link-to 'cost_centers'}}
                            <i class="fa fa-file-o"></i>Cost centers
                        {{/link-to}}
                    </li>
                    <li class="side-tree-item">
                        {{#link-to 'tags'}}
                            <i class="fa fa-file-o"></i>Tags
                        {{/link-to}}
                    </li>
                    <li class="side-tree-item">
                        {{#link-to 'users'}}
                            <i class="fa fa-users"></i>Users
                        {{/link-to}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>
<section class="layout_content" id="content">
    {{outlet}}
</section>
<aside class="layout_aside nav-ws">
    <header>
        <a href="#/userprofile" class="user">
            <i class="fa fa-user"></i>
            <span>{{username}}</span>
        </a>
    </header>
    <footer>
        <a href="Logout" class="ws-exit">
            <i class="fa fa-sign-out"></i>
            <span>{{logout}}</span>
        </a>
    </footer>
</aside>
