<section style="display:flex;">
    <div class="view">
        <div class="view-header">
            <h1 class="header-title">Cost Centers</h1>
            <nav class="nav-action-bar">
                <div class="-on-desktop">
                    <div class="action-bar">
                        {{#link-to 'cost_centers.new' class="btn"}} {{t 'costcenters.new.btn_label'}} {{/link-to}}
                    </div>
                </div>
            </nav>
        </div>
        <div class="view-content">
            <header class="entries-head">
                <div class="head-wrap">
                    <label class="entry-select">
                        <input type="checkbox" data-toggle="id" class="all" />
                    </label>
                    <div class="entry-captions">
                        <span>
                        name
                    </span>
                    </div>
                </div>
            </header>
            <div class="entries">
                {{#each controller}}
                <div class="entry-wrap">
                    <div class="entry-actions">
                        <a class="entry-action action-delete" data-ddbid="{{id}}" href="#">
                            <i class="fa fa-trash" />
                        </a>
                    </div>
                    <div data-ddbid="{{id}}" class="entry document js-swipe-entry">
                        <label class="entry-select">
                            <input type="checkbox" name="id" value="{{id}}" />
                        </label>
                        {{#link-to 'cost_centers.cost_center' this class="entry-link"}}
                        <div class="entry-fields">
                            <span class="entry-field">
                            {{name}}
                        </span>
                        </div>
                        {{/link-to}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    {{outlet}}
</section>
