<div class="login">
    <h1 class="login-title">{{t 'authorization'}}</h1>
    <div class="login-form">
        <form method="post">
            {{input name="username" value=username required=true placeholder="username"}}
            {{input type="password" value=password required=true placeholder="password"}}
            <div class="login-form-bottom">
                <label class="noauth">
                    <input type="checkbox" name="noauth" value="1" />{{t 'alien_device'}}
                </label>
                <button type="submit" class="btn" {{action "login"}}>
                    {{t 'sign_in'}}
                </button>
            </div>
        </form>
    </div>
    <div class="social">
        <a href="#vk" rel="nofollow">
            <i class="social-icon-vk" />
        </a>
        <a href="#fb" rel="nofollow">
            <i class="social-icon-fb" />
        </a>
        <a href="#twitter" rel="nofollow">
            <i class="social-icon-twitter" />
        </a>
    </div>
    <footer>
        <ul class="help-list">
            <li>
                <a href="Provider?id=password-recovery" rel="nofollow">
                    {{t 'lost_password'}}
                </a>
            </li>
            <li>
                <a href="Provider?id=retry-send-verify-email" rel="nofollow">
                    {{t 'no_verify_mail'}}
                </a>
            </li>
        </ul>
    </footer>
</div>
